Repository weoil/lynx-stack: changes, and which Codecov flags are due for each by the changed paths.
All: React, Rspeedy, Webpack

codecov.yml:

coverage:
  status:
    project: off
    patch:
      default:
        threshold: "1%"

fixes:
  - "/home/runner/_work/lynx-stack::"

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: "header, diff, flags, components" # show component info in the PR comment
  behavior: default
  require_changes: true # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: true # [true :: must have a head report to post]

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
      - type: patch
        threshold: "1%"
  individual_components:
    - component_id: react
      name: React
      paths:
        - packages/react/**
    - component_id: rspeedy
      name: Rspeedy
      paths:
        - packages/rspeedy/**
    - component_id: webpack
      name: Webpack
      paths:
        - packages/webpack/**

fix(react/runtime): do some global var initialize in hydrate (#461)
  .changeset/icy-parrots-stare.md
  packages/react/runtime/__test__/ssr.test.jsx
  packages/react/runtime/src/lynx/calledByNative.ts
  packages/react/runtime/src/snapshot.ts
Due: React

feat(rspeedy/core): support cli flag --environment (#462)
  .changeset/ninety-zoos-dream.md
  packages/rspeedy/core/etc/rspeedy.api.md
  packages/rspeedy/core/src/cli/build.ts
  packages/rspeedy/core/src/cli/commands.ts
  packages/rspeedy/core/src/cli/dev.ts
  packages/rspeedy/core/src/create-rspeedy.ts
  packages/rspeedy/core/test/cli/config.test.ts
  packages/rspeedy/core/test/cli/fixtures/environment/lynx.config.js
  website/docs/en/guide/cli.md
  website/docs/zh/guide/cli.md
Due: Rspeedy

ci(codecov): enable project coverage (#468)
  .github/workflows/test.yml
  codecov.yml
Due: none

refactor(rspeedy/qrcode): replace qrcode-terminal with uqr (#469)
  .changeset/four-shoes-cry.md
  packages/rspeedy/plugin-qrcode/package.json
  packages/rspeedy/plugin-qrcode/src/shortcuts.ts
  packages/rspeedy/plugin-qrcode/src/showQRCode.ts
  packages/rspeedy/plugin-qrcode/test/index.test.ts
  packages/rspeedy/plugin-qrcode/test/preview.test.ts
  patches/qrcode-terminal.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: Rspeedy

refactor(rspeedy/core): reduce dependencies (#470)
  packages/rspeedy/core/package.json
  pnpm-lock.yaml
Due: Rspeedy

fix(rspeedy/core): bundle ts-blank-space (#475)
  packages/rspeedy/core/package.json
  packages/rspeedy/core/rslib.config.ts
  packages/rspeedy/core/turbo.json
Due: Rspeedy

fix(rspeedy/core): should run typia transform on CLI (#478)
  packages/rspeedy/core/package.json
  packages/rspeedy/core/rslib.config.ts
Due: Rspeedy

fix(rspeedy/core): avoid pre-publish build (#479)
  packages/rspeedy/core/package.json
Due: Rspeedy

ci: add test-publish (#477)
  .github/workflows/test.yml
  .github/workflows/workflow-test.yml
  cspell.jsonc
Due: none

feat(rspeedy/core)!: requires typescript 5.1.6 - 5.8.x (#480)
  .changeset/tired-lamps-attend.md
  packages/rspeedy/core/package.json
  pnpm-lock.yaml
Due: Rspeedy

feat(rspeedy/core): use `process.features.typescript` (#481)
  .changeset/slick-pianos-beg.md
  packages/rspeedy/core/src/config/loadConfig.ts
  packages/rspeedy/core/test/config/loadConfig.test.ts
  website/docs/en/guide/cli.md
  website/docs/zh/guide/cli.md
Due: Rspeedy

test(webpack/css-extract): disable `output.pathinfo` (#497)
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/rspack.config.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/webpack.config.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/rspack.config.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/webpack.config.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/rspack.config.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/webpack.config.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/rspack.config.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/webpack.config.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/rspack.config.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/webpack.config.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/rspack.config.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/rspack.config.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/webpack.config.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/rspack.config.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/webpack.config.js
Due: Webpack

fix(webpack/template): delay deleting debugging assets (#498)
  .changeset/famous-dryers-play.md
  .changeset/seven-cougars-look.md
  packages/webpack/template-webpack-plugin/src/LynxEncodePlugin.ts
  packages/webpack/template-webpack-plugin/src/LynxTemplatePlugin.ts
  packages/webpack/template-webpack-plugin/test/cases/assets/production/rspack.config.js
Due: Webpack

feat: implement mts event handler support and update related constants (#495)
  .changeset/all-melons-fall.md
  packages/web-platform/web-constants/src/constants.ts
  packages/web-platform/web-core/src/utils/loadTemplate.ts
  packages/web-platform/web-mainthread-apis/src/MainThreadLynx.ts
  packages/web-platform/web-mainthread-apis/src/MainThreadRuntime.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/ElementThreadElement.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/event/eventFunctions.ts
  packages/web-platform/web-tests/resources/web-core.main-thread.json
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/basic-mts-bindtap/index.jsx
  packages/web-platform/web-worker-runtime/src/index.ts
  packages/webpack/web-webpack-plugin/src/index.ts
Due: Webpack

chore: update renovate labels (#508)
  .github/renovate.json5
Due: none

perf: dispatchLynxViewEventEndpoint is a void call (#506)
  .changeset/sweet-bottles-dance.md
  packages/web-platform/web-constants/src/endpoints.ts
Due: none

chore: remove useless build script (#509)
  packages/third-party/tailwind-preset/package.json
Due: none

chore: bump the output target to es2024 (#518)
  .changeset/fine-turtles-strive.md
  packages/web-platform/web-elements/tsconfig.json
Due: none

feat: upgrade @lynx-js/lynx-core to 0.1.2 (#465)
  .changeset/twenty-suits-teach.md
  packages/web-platform/web-constants/src/endpoints.ts
  packages/web-platform/web-constants/src/types/Cloneable.ts
  packages/web-platform/web-constants/src/types/LynxContextEventTarget.ts
  packages/web-platform/web-constants/src/types/LynxLifecycleEvent.ts
  packages/web-platform/web-constants/src/types/NativeApp.ts
  packages/web-platform/web-constants/src/types/index.ts
  packages/web-platform/web-core/package.json
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/registerFlushElementTreeHandler.ts
  packages/web-platform/web-core/src/uiThread/startUIThread.ts
  packages/web-platform/web-explorer/package.json
  packages/web-platform/web-mainthread-apis/src/MainThreadRuntime.ts
  packages/web-platform/web-tests/package.json
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/api-onNativeAppReady/index.jsx
  packages/web-platform/web-tests/tests/react/config-splitchunk-single-vendor/rspeedy.config.ts
  packages/web-platform/web-tests/tests/react/config-splitchunk-split-by-experience/rspeedy.config.ts
  packages/web-platform/web-tests/tests/react/config-splitchunk-split-by-module/rspeedy.config.ts
  packages/web-platform/web-worker-runtime/package.json
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createBackgroundLynx.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeApp.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createPerformanceApis.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/crossThreadHandlers/registerOnLifecycleEventHandler.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/crossThreadHandlers/registerOnNativeAppReadyHandler.ts
  packages/web-platform/web-worker-runtime/src/mainThread/startMainThread.ts
  pnpm-lock.yaml
Due: none

feat: add a touch emulator allow the explorer respond touch events from mouse events (#516)
  .changeset/new-paths-think.md
  packages/web-platform/web-explorer/index.html
Due: none

fix(react/runtime): disable MTS hmr (#512)
  .changeset/sad-parents-pay.md
  packages/react/runtime/__test__/snapshotPatch.test.jsx
  packages/react/runtime/src/lifecycle/patch/snapshotPatchApply.ts
  packages/react/runtime/src/worklet/hmr.ts
Due: React

fix(webpack): delay deleting debugging assets to `compiler.hooks.emit` (#523)
  .changeset/common-berries-hope.md
  .changeset/famous-dryers-play.md
  packages/webpack/template-webpack-plugin/src/LynxEncodePlugin.ts
  packages/webpack/template-webpack-plugin/test/cases/assets/production/rspack.config.js
  packages/webpack/web-webpack-plugin/src/index.ts
Due: Webpack

feat: support `shared-context` (#520)
  .changeset/blue-lies-flash.md
  packages/web-platform/web-constants/src/types/NativeApp.ts
  packages/web-platform/web-core/src/apis/LynxView.ts
  packages/web-platform/web-core/src/apis/createLynxView.ts
  packages/web-platform/web-core/src/uiThread/bootWorkers.ts
  packages/web-platform/web-core/src/uiThread/startUIThread.ts
  packages/web-platform/web-tests/shell-project/index.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/api-getSharedData/index.jsx
  packages/web-platform/web-tests/tests/react/api-setSharedData/index.jsx
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeApp.ts
Due: none

fix: the `input` event of x-input with number type should have raw value (#517)
  .changeset/whole-teeth-bake.md
  packages/web-platform/web-elements/src/XInput/InputBaseAttributes.ts
  packages/web-platform/web-elements/src/XInput/XInputEvents.ts
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/x-input/type/index-firefox-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/x-input/type/index-webkit-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts
  packages/web-platform/web-tests/tests/web-elements/x-input/event-input-number-dot.html
Due: none

fix: the `\n` character should create a new line (#522)
  .changeset/thin-poems-argue.md
  packages/web-platform/web-elements/src/XText/x-text.css
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/text/raw-text-new-line/index-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/text/raw-text-new-line/index-firefox-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/text/raw-text-new-line/index-webkit-linux.png
  packages/web-platform/web-tests/tests/react/basic-element-text-with-new-line/index.jsx
Due: none

fix(web): When list-type is not specified, it is treated as single (#535)
  .changeset/great-masks-mate.md
  packages/web-platform/web-elements/src/XList/x-list.css
  packages/web-platform/web-tests/tests/web-elements/x-list/basic.html
Due: none

fix: flushDelayedLifecycleEvents stack overflow error (#540)
  .changeset/hot-tools-relax.md
  packages/react/runtime/__test__/delayed-lifecycle-events.test.jsx
  packages/react/runtime/src/lynx/tt.ts
Due: React

fix: improve x-foldview-ng (#513)
  .changeset/shaggy-badgers-fix.md
  .cspell/lynx.txt
  cspell.jsonc
  packages/web-platform/web-elements/src/XFoldViewNg/XFoldviewHeaderNgFeatures.ts
  packages/web-platform/web-elements/src/XFoldViewNg/XFoldviewNg.ts
  packages/web-platform/web-elements/src/XFoldViewNg/XFoldviewNgEvents.ts
  packages/web-platform/web-elements/src/XFoldViewNg/XFoldviewSlotNgTouchEventsHandler.ts
  packages/web-platform/web-tests/tests/web-elements.spec.ts
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-foldview-ng/basic-fling/fling-works-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-foldview-ng/basic-fling/initial-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-foldview-ng/size-toolbar-and-slot-size-lager/fully-swiped-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-foldview-ng/size-toolbar-and-slot-size-lager/initial-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements/x-foldview-ng/basic-fling.html
  packages/web-platform/web-tests/tests/web-elements/x-foldview-ng/size-toolbar-and-slot-size-lager.html
Due: none

fix: web-explorer crash (#543)
  .changeset/sour-streets-remain.md
  packages/web-platform/web-explorer/index.html
Due: none

feat: support `layoutchange` event for x-overlay-ng (#519)
  .changeset/dirty-bananas-tan.md
  packages/web-platform/web-core/src/types/LynxExposureModule.ts
  packages/web-platform/web-elements/src/ScrollView/ScrollView.ts
  packages/web-platform/web-elements/src/XAudioTT/XAudioTT.ts
  packages/web-platform/web-elements/src/XCanvas/XCanvas.ts
  packages/web-platform/web-elements/src/XFoldViewNg/XFoldviewHeaderNg.ts
  packages/web-platform/web-elements/src/XFoldViewNg/XFoldviewNg.ts
  packages/web-platform/web-elements/src/XFoldViewNg/XFoldviewSlotDragNg.ts
  packages/web-platform/web-elements/src/XFoldViewNg/XFoldviewSlotNg.ts
  packages/web-platform/web-elements/src/XFoldViewNg/XFoldviewToolbarNg.ts
  packages/web-platform/web-elements/src/XImage/FilterImage.ts
  packages/web-platform/web-elements/src/XImage/XImage.ts
  packages/web-platform/web-elements/src/XInput/XInput.ts
  packages/web-platform/web-elements/src/XList/ListItem.ts
  packages/web-platform/web-elements/src/XList/XList.ts
  packages/web-platform/web-elements/src/XOverlayNg/XOverlayNg.ts
  packages/web-platform/web-elements/src/XRefreshView/XRefreshFooter.ts
  packages/web-platform/web-elements/src/XRefreshView/XRefreshHeader.ts
  packages/web-platform/web-elements/src/XRefreshView/XRefreshView.ts
  packages/web-platform/web-elements/src/XSvg/XSvg.ts
  packages/web-platform/web-elements/src/XSwiper/SwiperItem.ts
  packages/web-platform/web-elements/src/XSwiper/XSwiper.ts
  packages/web-platform/web-elements/src/XText/XText.ts
  packages/web-platform/web-elements/src/XTextarea/XTextarea.ts
  packages/web-platform/web-elements/src/XView/XBlurView.ts
  packages/web-platform/web-elements/src/XView/XView.ts
  packages/web-platform/web-elements/src/XViewpagerNg/XViewpagerItemNg.ts
  packages/web-platform/web-elements/src/XViewpagerNg/XViewpagerNg.ts
  packages/web-platform/web-elements/src/common/CommonEventsAndMethods.ts
  packages/web-platform/web-elements/src/common/Exposure.ts
  packages/web-platform/web-elements/src/index.ts
  packages/web-platform/web-tests/tests/web-elements.spec.ts
  packages/web-platform/web-tests/tests/web-elements/x-overlay-ng/event-layoutchange.html
Due: none

feat(rspeedy/core): support cli flag --no-env (#483)
  .changeset/open-oranges-shake.md
  packages/rspeedy/core/src/cli/build.ts
  packages/rspeedy/core/src/cli/commands.ts
  packages/rspeedy/core/src/cli/dev.ts
  packages/rspeedy/core/src/cli/inspect.ts
  packages/rspeedy/core/src/cli/preview.ts
  packages/rspeedy/core/test/cli/config.test.ts
  website/docs/en/guide/cli.md
  website/docs/zh/guide/cli.md
Due: Rspeedy

ci: upgrade lynx-infra/cache (#549)
  .github/actions/setup-playwright/action.yml
  .github/workflows/workflow-bench.yml
  .github/workflows/workflow-build.yml
  .github/workflows/workflow-test.yml
  .github/workflows/workflow-website.yml
Due: none

chore(renovate): use correct typia plugin name (#548)
  .github/renovate.json5
Due: none

fix: remove useless css (#560)
  .changeset/afraid-eels-dress.md
  packages/web-platform/web-elements/src/XFoldViewNg/XFoldviewSlotNgTouchEventsHandler.ts
  packages/web-platform/web-elements/src/XFoldViewNg/x-foldview-ng.css
Due: none

ci: integrate with zizmor (#561)
  .github/workflows/test.yml
  cspell.jsonc
Due: none

fix: update react-rsbuild-plugin reference from @lynx-dev to @lynx-js (#562)
  .changeset/shaky-walls-wish.md
  packages/webpack/react-webpack-plugin/src/ReactWebpackPlugin.ts
Due: Webpack

fix(rspeedy/react): should allow overriding SWC config (#563)
  .changeset/young-parents-fry.md
  packages/rspeedy/plugin-react/src/swc.ts
  packages/rspeedy/plugin-react/test/swc-config.test.ts
Due: Rspeedy

feat: support mts event with target methods (#564)
  .changeset/tidy-lemons-bow.md
  packages/web-platform/web-constants/src/types/EventType.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/event/eventFunctions.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/style/styleFunctions.ts
  packages/web-platform/web-tests/tests/main-thread-apis.test.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/basic-mts-bindtap-change-element-background/index.jsx
Due: none
