Repository weoil/lynx-stack: changes, and which Codecov flags are due for each by the changed paths.
All: React, Rspeedy, Webpack

codecov.yml:

coverage:
  status:
    project: off
    patch:
      default:
        threshold: "1%"

fixes:
  - "/home/runner/_work/lynx-stack::"

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: "header, diff, flags, components" # show component info in the PR comment
  behavior: default
  require_changes: true # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: true # [true :: must have a head report to post]

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
      - type: patch
        threshold: "1%"
  individual_components:
    - component_id: react
      name: React
      paths:
        - packages/react/**
    - component_id: rspeedy
      name: Rspeedy
      paths:
        - packages/rspeedy/**
    - component_id: webpack
      name: Webpack
      paths:
        - packages/webpack/**

feat(rspeedy/react): support `performance.profile` (#722)
  .changeset/full-rocks-smoke.md
  .changeset/good-eagles-laugh.md
  packages/rspeedy/plugin-react/src/entry.ts
  packages/rspeedy/plugin-react/test/config.test.ts
  packages/webpack/react-webpack-plugin/src/ReactWebpackPlugin.ts
Due: Rspeedy, Webpack

docs(react): README; add some comments; deprecate some old macros (#733)
  packages/react/README.md
  packages/react/runtime/package.json
  packages/react/runtime/src/backgroundSnapshot.ts
  packages/react/runtime/src/document.ts
  packages/react/runtime/src/lifecycle/delayUnmount.ts
  packages/react/runtime/src/lifecycle/patch/commit.ts
  packages/react/runtime/src/lifecycle/patch/snapshotPatch.ts
  packages/react/runtime/src/lifecycle/patch/snapshotPatchApply.ts
  packages/react/runtime/src/lifecycle/reload.ts
  packages/react/runtime/src/lifecycle/render.ts
  packages/react/runtime/src/lynx-api.ts
  packages/react/runtime/src/lynx.ts
  packages/react/runtime/src/renderToOpcodes/index.ts
  packages/react/runtime/src/root.ts
  packages/react/runtime/src/snapshot.ts
  packages/react/runtime/src/snapshot/ref.ts
  packages/react/runtime/src/snapshot/spread.ts
  packages/react/runtime/types/types.d.ts
Due: React

chore: remove the unused eco-ci action (#732)
  .changeset/config.json
  .github/actions/eco-ci/LICENSE.txt
  .github/actions/eco-ci/Notice.txt
  .github/actions/eco-ci/action.yml
  .github/actions/eco-ci/index.js
  .github/actions/eco-ci/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

docs(rspeedy/core): use `source.entry` in example (#729)
  .changeset/brave-symbols-laugh.md
  packages/rspeedy/core/src/config/source/entry.ts
Due: Rspeedy

ci: integrate with RelativeCI (#734)
  .github/workflows/deploy-main.yml
  .github/workflows/relative-ci.yml
  .github/workflows/rust.yml
  .github/workflows/test.yml
  .github/workflows/workflow-bundle-analysis.yml
  examples/react/lynx.config.js
Due: none

ci: remove duplicated playwright test on deploy (#646)
  .github/workflows/deploy-main.yml
  .github/workflows/test.yml
  .github/workflows/workflow-test.yml
Due: none

ci: change workflow name (#738)
  .github/workflows/deploy-main.yml
  .github/workflows/relative-ci.yml
  .github/workflows/rust.yml
Due: none

ci: use different keys for different projects (#743)
  .github/workflows/relative-ci.yml
Due: none

ci: fix workflow_run (#744)
  .github/workflows/relative-ci.yml
Due: none

feat(rspeedy/cli): support `--mode` (#723)
  .changeset/nice-needles-press.md
  packages/rspeedy/core/CHANGELOG.md
  packages/rspeedy/core/src/cli/commands.ts
  packages/rspeedy/core/src/cli/init.ts
  packages/rspeedy/core/src/cli/inspect.ts
  packages/rspeedy/core/test/cli/build.test.ts
  packages/rspeedy/core/test/cli/inspect.test.ts
  website/docs/en/guide/cli.md
  website/docs/zh/guide/cli.md
Due: Rspeedy

feat(tailwind-preset): Basic tests and README for contributors (#745)
  .changeset/wild-sheep-dream.md
  packages/third-party/tailwind-preset/README.md
  packages/third-party/tailwind-preset/package.json
  packages/third-party/tailwind-preset/src/__tests__/config.test.ts
  packages/third-party/tailwind-preset/src/__tests__/styles.css
  packages/third-party/tailwind-preset/src/__tests__/tailwind.config.ts
  packages/third-party/tailwind-preset/src/__tests__/test-content.tsx
  packages/third-party/tailwind-preset/src/lynx.ts
  packages/third-party/tailwind-preset/src/plugins/lynx/display.ts
  packages/third-party/tailwind-preset/src/plugins/lynx/index.ts
  packages/third-party/tailwind-preset/src/plugins/lynx/textDecoration.ts
  packages/third-party/tailwind-preset/vitest.config.ts
  pnpm-lock.yaml
  vitest.workspace.json
Due: none

fix(react/runtime): Accelerate the timing of effect and ref triggering (#652)
  .changeset/tired-drinks-give.md
  packages/react/runtime/__test__/delayed-lifecycle-events.test.jsx
  packages/react/runtime/__test__/lifecycle.test.jsx
  packages/react/runtime/__test__/lifecycle/reload.test.jsx
  packages/react/runtime/__test__/page.test.jsx
  packages/react/runtime/__test__/snapshot/event.test.jsx
  packages/react/runtime/__test__/snapshot/ref.test.jsx
  packages/react/runtime/__test__/ssr.test.jsx
  packages/react/runtime/__test__/utils/envManager.ts
  packages/react/runtime/__test__/utils/globals.js
  packages/react/runtime/lazy/internal.js
  packages/react/runtime/src/backgroundSnapshot.ts
  packages/react/runtime/src/hooks/react.ts
  packages/react/runtime/src/internal.ts
  packages/react/runtime/src/lifecycle/event/delayLifecycleEvents.ts
  packages/react/runtime/src/lifecycle/event/jsReady.ts
  packages/react/runtime/src/lifecycle/patch/commit.ts
  packages/react/runtime/src/lifecycle/patch/updateMainThread.ts
  packages/react/runtime/src/lifecycle/ref/delay.ts
  packages/react/runtime/src/lifecycle/reload.ts
  packages/react/runtime/src/lifecycleConstant.ts
  packages/react/runtime/src/list.ts
  packages/react/runtime/src/lynx/calledByNative.ts
  packages/react/runtime/src/lynx/tt.ts
  packages/react/runtime/src/snapshot.ts
  packages/react/runtime/src/snapshot/ref.ts
  packages/react/runtime/src/snapshot/spread.ts
  packages/react/runtime/src/snapshot/workletRef.ts
  packages/react/runtime/src/snapshotInstanceHydrationMap.ts
  packages/react/testing-library/src/__tests__/act.test.jsx
  packages/react/testing-library/src/__tests__/events.test.jsx
  packages/react/testing-library/src/__tests__/ref.test.jsx
  packages/react/testing-library/src/__tests__/render.test.jsx
  packages/react/testing-library/src/fire-event.ts
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_ref.js
Due: React

fix(react/runtime): resolve race condition in `runWithForce` (#707)
  .changeset/new-bobcats-cry.md
  packages/react/runtime/src/lynx/runWithForce.ts
Due: React

Revert "fix(react/runtime): Accelerate the timing of effect and ref triggering" (#752)
  .changeset/tired-drinks-give.md
  packages/react/runtime/__test__/delayed-lifecycle-events.test.jsx
  packages/react/runtime/__test__/lifecycle.test.jsx
  packages/react/runtime/__test__/lifecycle/reload.test.jsx
  packages/react/runtime/__test__/page.test.jsx
  packages/react/runtime/__test__/snapshot/event.test.jsx
  packages/react/runtime/__test__/snapshot/ref.test.jsx
  packages/react/runtime/__test__/ssr.test.jsx
  packages/react/runtime/__test__/utils/envManager.ts
  packages/react/runtime/__test__/utils/globals.js
  packages/react/runtime/lazy/internal.js
  packages/react/runtime/src/backgroundSnapshot.ts
  packages/react/runtime/src/hooks/react.ts
  packages/react/runtime/src/internal.ts
  packages/react/runtime/src/lifecycle/event/delayLifecycleEvents.ts
  packages/react/runtime/src/lifecycle/event/jsReady.ts
  packages/react/runtime/src/lifecycle/patch/commit.ts
  packages/react/runtime/src/lifecycle/patch/updateMainThread.ts
  packages/react/runtime/src/lifecycle/ref/delay.ts
  packages/react/runtime/src/lifecycle/reload.ts
  packages/react/runtime/src/lifecycleConstant.ts
  packages/react/runtime/src/list.ts
  packages/react/runtime/src/lynx/calledByNative.ts
  packages/react/runtime/src/lynx/tt.ts
  packages/react/runtime/src/snapshot.ts
  packages/react/runtime/src/snapshot/ref.ts
  packages/react/runtime/src/snapshot/spread.ts
  packages/react/runtime/src/snapshot/workletRef.ts
  packages/react/runtime/src/snapshotInstanceHydrationMap.ts
  packages/react/testing-library/src/__tests__/act.test.jsx
  packages/react/testing-library/src/__tests__/events.test.jsx
  packages/react/testing-library/src/__tests__/ref.test.jsx
  packages/react/testing-library/src/__tests__/render.test.jsx
  packages/react/testing-library/src/fire-event.ts
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_ref.js
Due: React

docs: add api docs of testing-environment and profile (#751)
  .changeset/popular-days-yell.md
  packages/testing-library/testing-environment/etc/testing-environment.api.md
  packages/webpack/react-webpack-plugin/etc/react-webpack-plugin.api.md
Due: Webpack

fix: correct link to testing library docs (#753)
  .changeset/weak-clouds-care.md
  packages/react/testing-library/etc/react-lynx-testing-library.api.md
  packages/testing-library/README.md
  packages/testing-library/testing-environment/README.md
Due: React

chore: remove unused changeset (#754)
  .changeset/weak-clouds-care.md
Due: none

feat(rspeedy): support source.preEntry (#750)
  .changeset/cold-terms-battle.md
  packages/rspeedy/core/etc/rspeedy.api.md
  packages/rspeedy/core/src/config/rsbuild/index.ts
  packages/rspeedy/core/src/config/source/index.ts
  packages/rspeedy/core/test/config/rsbuild.test.ts
  packages/rspeedy/core/test/config/source/preEntry.test-d.ts
  packages/rspeedy/core/test/config/validate.test.ts
Due: Rspeedy

ci: add Rspeedy to RelativeCI (#760)
  .github/workflows/relative-ci.yml
  .github/workflows/workflow-bundle-analysis.yml
  packages/rspeedy/core/rslib.config.ts
  packages/rspeedy/core/turbo.json
Due: Rspeedy

feat(rspeedy/core): add `callerName` option to `createRspeedy` (#757)
  .changeset/little-candies-carry.md
  packages/rspeedy/core/etc/rspeedy.api.md
  packages/rspeedy/core/src/create-rspeedy.ts
  packages/rspeedy/core/test/createRspeedy.test.ts
Due: Rspeedy

docs(rspeedy/core): use `source.entry` in example (#755)
  .changeset/chubby-hounds-hug.md
  packages/rspeedy/core/src/config/source/index.ts
Due: Rspeedy

ci: add missing `RELATIVE_CI_PROJECT_RSPEEDY_CORE_KEY` (#764)
  .github/workflows/relative-ci.yml
Due: none

ci: integrate with CodeQL (#765)
  .github/codeql-config.yml
  .github/workflows/code-scanning.yml
  .github/workflows/test.yml
Due: none

feat(rspeedy/core): add `performance.buildCache` (#766)
  .changeset/lucky-socks-play.md
  packages/rspeedy/core/etc/rspeedy.api.md
  packages/rspeedy/core/src/cli/init.ts
  packages/rspeedy/core/src/config/performance/build-cache.ts
  packages/rspeedy/core/src/config/performance/index.ts
  packages/rspeedy/core/src/config/rsbuild/index.ts
  packages/rspeedy/core/src/index.ts
  packages/rspeedy/core/test/cli/config.test.ts
  packages/rspeedy/core/test/cli/fixtures/build-cache/build-dependencies.js
  packages/rspeedy/core/test/cli/fixtures/build-cache/lynx.config.js
  packages/rspeedy/core/test/config/performance.test-d.ts
  packages/rspeedy/core/test/config/performance/buildCache.test.ts
  packages/rspeedy/core/test/config/validate.test.ts
Due: Rspeedy

ci: merge `test-*` jobs (#769)
  .github/workflows/test.yml
  vitest.workspace.json
Due: none

feat: initial commit for web-core-server (#772)
  .changeset/heavy-pigs-wave.md
  .changeset/smart-drinks-attend.md
  .github/workflows/workflow-bench.yml
  packages/web-platform/offscreen-document/src/webworker/OffscreenDocument.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenElement.ts
  packages/web-platform/tsconfig.json
  packages/web-platform/web-core-server/.gitignore
  packages/web-platform/web-core-server/package.json
  packages/web-platform/web-core-server/src/createLynxView.ts
  packages/web-platform/web-core-server/src/index.ts
  packages/web-platform/web-core-server/src/utils/loadTemplate.ts
  packages/web-platform/web-core-server/tsconfig.json
  packages/web-platform/web-tests/package.json
  packages/web-platform/web-tests/playwright.config.ts
  packages/web-platform/web-tests/tests/__snapshots__/server.vitest.spec.ts.snap
  packages/web-platform/web-tests/tests/react/basic-performance-div-10000/index.jsx
  packages/web-platform/web-tests/tests/server.bench.vitest.spec.ts
  packages/web-platform/web-tests/tests/server.vitest.spec.ts
  packages/web-platform/web-tests/tsconfig.json
  packages/web-platform/web-tests/vitest.config.ts
  packages/web-platform/web-worker-runtime/src/index.ts
  packages/web-platform/web-worker-runtime/src/mainThread/startMainThread.ts
  pnpm-lock.yaml
Due: none

test: check if `*.api.md` is up-to-date (#774)
  .github/workflows/test.yml
  packages/rspeedy/core/etc/rspeedy.api.md
Due: Rspeedy

chore(web-tests): use `is-ci` instead of shell (#784)
  packages/web-platform/web-tests/package.json
Due: none

feat(webpack/runtime-wrapper): support `requestAnimationFrame` (#787)
  .changeset/sweet-tires-flash.md
  packages/webpack/runtime-wrapper-webpack-plugin/src/RuntimeWrapperWebpackPlugin.ts
  packages/webpack/runtime-wrapper-webpack-plugin/test/cases.test.js
  packages/webpack/runtime-wrapper-webpack-plugin/test/cases/variables/request-animation-frame/index.js
  packages/webpack/runtime-wrapper-webpack-plugin/test/cases/variables/request-animation-frame/rspack.config.js
  packages/webpack/runtime-wrapper-webpack-plugin/test/cases/variables/request-animation-frame/webpack.config.js
  packages/webpack/runtime-wrapper-webpack-plugin/test/cases/variables/websocket/index.js
  packages/webpack/runtime-wrapper-webpack-plugin/test/cases/variables/websocket/rspack.config.js
  packages/webpack/runtime-wrapper-webpack-plugin/test/cases/variables/websocket/webpack.config.js
Due: Webpack

ci: upload test results in merge queue to main context (#792)
  .github/workflows/deploy-main.yml
  .github/workflows/workflow-test.yml
Due: none

docs: Update CONTRIBUTING.md with Rust setup and turbo build info. (#741)
  CONTRIBUTING.md
  cspell.jsonc
Due: none

feat: add new property `inject-style-rules` for LynxView (#785)
  .changeset/gold-chefs-obey.md
  packages/web-platform/web-constants/src/constants.ts
  packages/web-platform/web-core/src/apis/LynxView.ts
  packages/web-platform/web-core/src/apis/inShadowRootStyles.ts
  packages/web-platform/web-tests/shell-project/index.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/api-inject-style-rules/index.jsx
Due: none

fix(webpack-dev-transport): apply the new `LynxDevToolSetModule` (#795)
  .changeset/common-games-hope.md
  packages/webpack/webpack-dev-transport/client/reloadApp.ts
  packages/webpack/webpack-dev-transport/test/client/reloadApp.test.ts
Due: Webpack

chore: remove Codecov bundle analysis (#796)
  examples/react/lynx.config.js
  examples/react/package.json
  packages/web-platform/web-explorer/package.json
  packages/web-platform/web-explorer/rsbuild.config.ts
  pnpm-lock.yaml
Due: none

feat: allow lynx code to get JS engine provided properties on globalThis (#786)
  .changeset/busy-hounds-take.md
  packages/web-platform/web-mainthread-apis/src/MainThreadRuntime.ts
  packages/web-platform/web-mainthread-apis/src/loadMainThread.ts
  packages/web-platform/web-tests/shell-project/mainthread-test.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/basic-globalThis-property-bts/index.jsx
  packages/web-platform/web-tests/tests/react/basic-globalThis-property-mts/index.jsx
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeApp.ts
Due: none

chore: add more tests for for web SSR (#806)
  .changeset/silly-pumas-float.md
  packages/web-platform/web-mainthread-apis/src/loadMainThread.ts
  packages/web-platform/web-tests/tests/__snapshots__/server.vitest.spec.ts.snap
  packages/web-platform/web-tests/tests/react/basic-performance-div-10/index.jsx
  packages/web-platform/web-tests/tests/react/basic-performance-div-100/index.jsx
  packages/web-platform/web-tests/tests/react/basic-performance-div-1000/index.jsx
  packages/web-platform/web-tests/tests/react/basic-performance-nest-level-100/index.jsx
  packages/web-platform/web-tests/tests/server.bench.vitest.spec.ts
  packages/web-platform/web-tests/tests/server.vitest.spec.ts
Due: none

chore: try to fix some flaky (#809)
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/basic-setstate-in-constructor/index.jsx
  packages/web-platform/web-tests/tests/web-core.test.ts
Due: none

feat: improve load template (#807)
  .changeset/calm-grass-grow.md
  .changeset/calm-plants-grow.md
  .changeset/config.json
  .changeset/tired-lands-drop.md
  packages/web-platform/web-core-server/src/createLynxView.ts
  packages/web-platform/web-core-server/src/utils/loadTemplate.ts
  packages/web-platform/web-core/src/utils/loadTemplate.ts
  packages/web-platform/web-tests/tests/server.bench.vitest.spec.ts
  packages/web-platform/web-tests/tests/server.vitest.spec.ts
Due: none

fix(webpack/template): delete inlined assets in `processAssets` (#812)
  .changeset/five-boats-fix.md
  packages/webpack/template-webpack-plugin/src/LynxEncodePlugin.ts
  packages/webpack/template-webpack-plugin/test/cases/assets/production/rspack.config.js
  packages/webpack/web-webpack-plugin/src/index.ts
Due: Webpack

refactor: split shadowroot templates into a package (#811)
  .changeset/config.json
  .changeset/flat-poets-build.md
  .changeset/violet-banks-cheer.md
  packages/web-platform/tsconfig.json
  packages/web-platform/web-elements-reactive/src/component.ts
  packages/web-platform/web-elements-template/CHANGELOG.md
  packages/web-platform/web-elements-template/LICENSE.txt
  packages/web-platform/web-elements-template/Notice.txt
  packages/web-platform/web-elements-template/README.md
  packages/web-platform/web-elements-template/package.json
  packages/web-platform/web-elements-template/src/index.ts
  packages/web-platform/web-elements-template/tsconfig.json
  packages/web-platform/web-elements/package.json
  packages/web-platform/web-elements/src/ScrollView/ScrollView.ts
  packages/web-platform/web-elements/src/XAudioTT/XAudioTT.ts
  packages/web-platform/web-elements/src/XImage/FilterImage.ts
  packages/web-platform/web-elements/src/XImage/XImage.ts
  packages/web-platform/web-elements/src/XInput/XInput.ts
  packages/web-platform/web-elements/src/XList/XList.ts
  packages/web-platform/web-elements/src/XOverlayNg/XOverlayNg.ts
  packages/web-platform/web-elements/src/XRefreshView/XRefreshView.ts
  packages/web-platform/web-elements/src/XSwiper/XSwiper.ts
  packages/web-platform/web-elements/src/XText/InlineImage.ts
  packages/web-platform/web-elements/src/XText/XText.ts
  packages/web-platform/web-elements/src/XTextarea/XTextarea.ts
  packages/web-platform/web-elements/src/XViewpagerNg/XViewpagerNg.ts
  packages/web-platform/web-elements/tsconfig.json
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/text/nest-image/index-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/text/nest-image/index-firefox-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/text/nest-image/index-webkit-linux.png
  pnpm-lock.yaml
Due: none
