Repository weoil/lynx-stack: changes, and which Codecov flags are due for each by the changed paths.
All: React, Rspeedy, Webpack

chore: add window var to define callback argument in `background.js` (#248)
  .changeset/loud-signs-see.md
  packages/webpack/runtime-wrapper-webpack-plugin/src/RuntimeWrapperWebpackPlugin.ts
Due: Webpack

ci: enable playwright test report (#287)
  .github/workflows/deploy-main.yml
  .github/workflows/test.yml
  .github/workflows/workflow-test.yml
Due: none

fix(rspeedy/react): use React from `rootPath` (#275)
  .changeset/tasty-months-rush.md
  packages/rspeedy/plugin-react-alias/package.json
  packages/rspeedy/plugin-react-alias/src/index.ts
  packages/rspeedy/plugin-react-alias/test/include.test.ts
  packages/rspeedy/plugin-react-alias/vitest.config.ts
  packages/rspeedy/plugin-react/src/pluginReactLynx.ts
  pnpm-lock.yaml
Due: Rspeedy

ci: integrate with CodSpeed (#219)
  .github/workflows/deploy-main.yml
  .github/workflows/test.yml
  .github/workflows/workflow-bench.yml
  .github/workflows/workflow-test.yml
  package.json
  packages/react/transform/__test__/basic.bench.js
  packages/react/transform/package.json
  packages/react/transform/vitest.config.ts
  pnpm-lock.yaml
  vitest.config.ts
Due: React

chore: update badges (#301)
  README.md
Due: none

feat(rspeedy): Support server.strictPort (#303)
  .changeset/every-clubs-ring.md
  packages/rspeedy/core/etc/rspeedy.api.md
  packages/rspeedy/core/src/config/rsbuild/index.ts
  packages/rspeedy/core/src/config/server/index.ts
  packages/rspeedy/core/test/config/server.test-d.ts
Due: Rspeedy

docs: Correct case for CONTRIBUTING.md link (#306)
  packages/rspeedy/core/README.md
  packages/rspeedy/plugin-qrcode/README.md
  packages/rspeedy/plugin-react/README.md
Due: Rspeedy

feat(rspeedy): Support dev.progressBar (#307)
  .changeset/blue-taxis-make.md
  packages/rspeedy/core/etc/rspeedy.api.md
  packages/rspeedy/core/src/config/dev/index.ts
  packages/rspeedy/core/src/config/rsbuild/index.ts
  packages/rspeedy/core/test/config/dev.test-d.ts
  packages/rspeedy/core/test/config/rsbuild.test.ts
  packages/rspeedy/core/test/config/validate.test.ts
Due: Rspeedy

test: enable coverage for playwright (#291)
  .github/workflows/deploy-main.yml
  .github/workflows/test.yml
  .github/workflows/workflow-test.yml
  codecov.yml
  packages/web-platform/web-tests/tests/coverage-fixture.ts
  packages/web-platform/web-tests/tests/main-thread-apis.test.ts
  packages/web-platform/web-tests/tests/performance.test.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/rpc.spec.ts
  packages/web-platform/web-tests/tests/web-core.test.ts
  packages/web-platform/web-tests/tests/web-elements.spec.ts
Due: none

refactor(web): UI handlers to use shadowRoot instead of rootDom (#311)
  .changeset/cruel-aliens-hunt.md
  packages/web-platform/web-constants/src/constants.ts
  packages/web-platform/web-core/index.css
  packages/web-platform/web-core/src/apis/LynxView.ts
  packages/web-platform/web-core/src/apis/createLynxView.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/bootTimingSystem.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/createExposureService.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/queryNodes.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/registerFlushElementTreeHandler.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/registerInvokeUIMethodHandler.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/registerSelectComponentHandler.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/registerSetNativePropsHandler.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/registerTriggerComponentEventHandler.ts
  packages/web-platform/web-core/src/uiThread/startUIThread.ts
  packages/web-platform/web-core/src/utils/createCrossThreadEvent.ts
  packages/web-platform/web-tests/shell-project/index.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/text/maxlength/index-firefox-linux.png
Due: none

perf(web): Create template of web component when used (#286)
  .changeset/chilly-cougars-throw.md
  packages/web-platform/web-elements-reactive/src/component.ts
Due: none

ci: fix setup-playwright (#315)
  .github/actions/setup-playwright/action.yml
  packages/web-platform/web-tests/tests/react.spec.ts
Due: none

feat(web): add a new package @lynx-js/offscreen-document (#313)
  packages/web-platform/offscreen-document/Notice.txt
  packages/web-platform/offscreen-document/README.md
  packages/web-platform/offscreen-document/package.json
  packages/web-platform/offscreen-document/src/index.ts
  packages/web-platform/offscreen-document/src/main/index.ts
  packages/web-platform/offscreen-document/src/main/initOffscreenDocument.ts
  packages/web-platform/offscreen-document/src/types/ElementOperation.ts
  packages/web-platform/offscreen-document/src/types/index.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenCSSStyleDeclaration.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenDocument.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenElement.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenEvent.ts
  packages/web-platform/offscreen-document/src/webworker/index.ts
  packages/web-platform/offscreen-document/tsconfig.json
  packages/web-platform/tsconfig.json
  pnpm-lock.yaml
Due: none

feat(rspeedy): support loadEnv config (#233)
  .changeset/busy-snails-do.md
  packages/rspeedy/core/etc/rspeedy.api.md
  packages/rspeedy/core/src/create-rspeedy.ts
  packages/rspeedy/core/test/cli/config.test.ts
  packages/rspeedy/core/test/cli/fixtures/project-with-env/.env
  packages/rspeedy/core/test/cli/fixtures/project-with-env/lynx.config.js
Due: Rspeedy

ci: update benchmark workflow (#308)
  .github/workflows/deploy-main.yml
  .github/workflows/test.yml
  .github/workflows/workflow-bench.yml
Due: none

feat(upgrade-rspeedy): add web-related packages (#312)
  .changeset/shy-papayas-itch.md
  packages/rspeedy/upgrade-rspeedy/package.json
  pnpm-lock.yaml
Due: Rspeedy

fix(react/runtime): fix stack underflow issue when running on PrimJS (#326)
  .changeset/lucky-radios-shake.md
  packages/react/runtime/src/lifecycle/patch/commit.ts
Due: React

ci(web): add bunele size analysis for web-explorer (#325)
  .github/workflows/deploy-main.yml
  .github/workflows/test.yml
  .github/workflows/workflow-build.yml
  .github/workflows/workflow-test.yml
  codecov.yml
  packages/web-platform/web-explorer/package.json
  packages/web-platform/web-explorer/rsbuild.config.ts
  packages/web-platform/web-explorer/turbo.json
  pnpm-lock.yaml
Due: none

chore: enable spell check (#327)
  .changeset/chilly-cougars-throw.md
  .changeset/cruel-aliens-hunt.md
  .changeset/solid-baboons-throw.md
  .cspell/contributors.txt
  .cspell/lynx.txt
  .cspell/preact.txt
  .cspell/rspack.txt
  .github/renovate.json5
  .github/workflows/test.yml
  .lintstagedrc.mjs
  README.md
  cspell.jsonc
  package.json
  packages/react/OWNERS
  packages/react/transform/__test__/fixture.spec.js
  packages/rspeedy/plugin-react/CHANGELOG.md
  packages/third-party/tailwind-preset/src/lynx.ts
  packages/tools/vitest-setup/LICENSE
  packages/tools/vitest-setup/setup.ts
  packages/webpack/chunk-loading-webpack-plugin/CHANGELOG.md
  packages/webpack/react-webpack-plugin/test/cases/typescript/type-import/foo.ts
  packages/webpack/web-webpack-plugin/CHANGELOG.md
  pnpm-lock.yaml
  vitest.config.ts
Due: React, Rspeedy, Webpack

fix(web): current implementation passed the main-thread api tests (#328)
  .changeset/vast-goats-laugh.md
  packages/web-platform/offscreen-document/src/index.ts
  packages/web-platform/offscreen-document/src/main/index.ts
  packages/web-platform/offscreen-document/src/types/index.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenCSSStyleDeclaration.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenDocument.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenElement.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenEvent.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenNode.ts
  packages/web-platform/offscreen-document/src/webworker/index.ts
Due: none

ci: should fail on unexpected cache miss (#332)
  .github/workflows/workflow-bench.yml
  .github/workflows/workflow-test.yml
  .github/workflows/workflow-website.yml
Due: none

test(webpack): use different paths for output (#330)
  packages/webpack/test-tools/src/case.ts
  packages/webpack/test-tools/src/diagnostic.ts
Due: Webpack

ci: enable rust coverage and report (#288)
  .cargo/nextest.toml
  .github/workflows/deploy-main.yml
  .github/workflows/rust.yml
  .github/workflows/test.yml
  .github/workflows/workflow-test.yml
Due: none

feat(web): use pure DOM API to implement Element PAPIs (#334)
  .changeset/brown-coats-study.md
  cspell.jsonc
  packages/web-platform/offscreen-document/src/webworker/OffscreenDocument.ts
  packages/web-platform/web-constants/src/index.ts
  packages/web-platform/web-mainthread-apis/package.json
  packages/web-platform/web-mainthread-apis/src/MainThreadLynx.ts
  packages/web-platform/web-mainthread-apis/src/MainThreadRuntime.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/ElementThreadElement.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/attributeAndProperty/attributeAndPropertyFunctions.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/attributeAndProperty/createAttributeAndPropertyFunctionsWithContext.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/createOffscreenDocument.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/domTree/domTreeFunctions.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/elementCreating/elementCreatingFunctions.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/event/eventFunctions.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/style/styleFunctions.ts
  packages/web-platform/web-mainthread-apis/src/index.ts
  packages/web-platform/web-mainthread-apis/src/utils/createCrossThreadEvent.ts
  packages/web-platform/web-mainthread-apis/src/utils/createExposureService.ts
  packages/web-platform/web-mainthread-apis/tsconfig.json
  packages/web-platform/web-tests/package.json
  packages/web-platform/web-tests/shell-project/mainthread-test.ts
  packages/web-platform/web-tests/tests/main-thread-apis.test.ts
  packages/web-platform/web-worker-runtime/package.json
  pnpm-lock.yaml
Due: none

ci: add bundle analysis for ReactLynx example (#338)
  .github/workflows/test.yml
  examples/react/lynx.config.js
  examples/react/package.json
  examples/react/src/App.tsx
  pnpm-lock.yaml
Due: none

fix(plugin-react): convert background-only files from js to ts (#346)
  .changeset/wild-drinks-mix.md
  packages/rspeedy/plugin-react/rslib.config.ts
  packages/rspeedy/plugin-react/src/background-only/empty.ts
  packages/rspeedy/plugin-react/src/background-only/error.ts
  packages/rspeedy/plugin-react/src/loaders/invalid-import-error-loader.ts
Due: Rspeedy

chore(deps): bump swc_core v16.5.0 (#341)
  .changeset/loud-cows-mate.md
  Cargo.lock
  packages/react/transform/Cargo.toml
  packages/react/transform/src/bundle.rs
  packages/react/transform/src/lib.rs
  packages/react/transform/src/swc_plugin_compat/mod.rs
  packages/react/transform/src/swc_plugin_compat/simplify_ctor_like_react_lynx_2.rs
  packages/react/transform/src/swc_plugin_compat_post/mod.rs
  packages/react/transform/src/swc_plugin_css_scope/mod.rs
  packages/react/transform/src/swc_plugin_directive_dce/mod.rs
  packages/react/transform/src/swc_plugin_dynamic_import/mod.rs
  packages/react/transform/src/swc_plugin_extract_str/mod.rs
  packages/react/transform/src/swc_plugin_inject/mod.rs
  packages/react/transform/src/swc_plugin_refresh/mod.rs
  packages/react/transform/src/swc_plugin_shake/mod.rs
  packages/react/transform/src/swc_plugin_snapshot/jsx_helpers.rs
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
  packages/react/transform/src/swc_plugin_snapshot/slot_marker.rs
  packages/react/transform/src/swc_plugin_worklet/decl_collect.rs
  packages/react/transform/src/swc_plugin_worklet/extract_ident.rs
  packages/react/transform/src/swc_plugin_worklet/mod.rs
  packages/react/transform/src/swc_plugin_worklet_post_process/mod.rs
Due: React

feat(rspeedy): Support `performance.printFileSize` (#336)
  .changeset/thick-poets-count.md
  packages/rspeedy/core/etc/rspeedy.api.md
  packages/rspeedy/core/src/config/performance/index.ts
  packages/rspeedy/core/src/config/rsbuild/index.ts
  packages/rspeedy/core/test/config/performance.test-d.ts
  packages/rspeedy/core/test/config/rsbuild.test.ts
  packages/rspeedy/core/test/config/validate.test.ts
Due: Rspeedy

perf(react): only include `loadLazyBundle` when needed (#284)
  .changeset/wide-carrots-occur.md
  packages/react/runtime/lazy/internal.js
  packages/react/runtime/src/lynx/lazy-bundle.ts
Due: React

fix(rspeedy/core): chunk loading on Web platform (#352)
  .changeset/shy-pears-serve.md
  packages/rspeedy/core/src/plugins/chunkLoading.plugin.ts
  packages/rspeedy/core/src/plugins/target.plugin.ts
  packages/rspeedy/core/src/utils/is-lynx.ts
  packages/rspeedy/core/src/utils/is-web.ts
  packages/rspeedy/core/test/plugins/chunkLoading.plugin.test.ts
  packages/rspeedy/core/test/plugins/target.plugin.test.ts
  packages/web-platform/web-tests/tests/main-thread-apis.test.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/config-splitchunk-error-assertPrefix/index.jsx
  packages/web-platform/web-tests/tests/react/config-splitchunk-error-assertPrefix/rspeedy.config.ts
  packages/web-platform/web-tests/tests/react/config-splitchunk-single-vendor/rspeedy.config.ts
  packages/web-platform/web-tests/tests/react/config-splitchunk-split-by-experience/rspeedy.config.ts
  packages/web-platform/web-tests/tests/react/config-splitchunk-split-by-module/rspeedy.config.ts
  packages/web-platform/web-tests/tests/web-elements.spec.ts
Due: Rspeedy

chore(web): update new usage of web-elements and web-core (#355)
  packages/web-platform/web-core/README.md
  packages/web-platform/web-elements/README.md
Due: none

ci: improve cache performance (#356)
  .github/actions/setup-playwright/action.yml
  .github/workflows/workflow-bench.yml
  .github/workflows/workflow-build.yml
  .github/workflows/workflow-test.yml
  .github/workflows/workflow-website.yml
  cspell.jsonc
Due: none

ci: add type check (#358)
  .github/workflows/test.yml
Due: none

fix: inline style will be removed for value number `0` (#368)
  .changeset/rude-bears-brake.md
  packages/web-platform/web-mainthread-apis/src/elementAPI/style/styleFunctions.ts
  packages/web-platform/web-tests/tests/main-thread-apis.test.ts
  packages/web-platform/web-tests/tests/react.spec.ts
Due: none

chore: turn-off codecov github annotations (#369)
  codecov.yml
Due: none

feat(rspeedy/core): add `output.distPath.*` (#366)
  .changeset/some-swans-stop.md
  packages/rspeedy/core/etc/rspeedy.api.md
  packages/rspeedy/core/src/config/output/dist-path.ts
  packages/rspeedy/core/src/config/output/index.ts
  packages/rspeedy/core/test/config/output.test-d.ts
  packages/rspeedy/core/test/config/validate.test.ts
Due: Rspeedy

fix(web): rsbuild will bundle 2 exactly same chunk for two same `new Worker` stmt (#372)
  .changeset/rotten-pigs-wash.md
  packages/web-platform/web-core/src/uiThread/bootWorkers.ts
Due: none

feat(source-maps): Add `debugIds` option (#342)
  .changeset/cyan-ravens-lie.md
  cspell.jsonc
  packages/rspeedy/core/etc/rspeedy.api.md
  packages/rspeedy/core/src/config/output/source-map.ts
  packages/rspeedy/core/src/config/rsbuild/index.ts
  packages/rspeedy/core/src/plugins/sourcemap.plugin.ts
  packages/rspeedy/core/test/plugins/sourcemap.plugin.test.ts
Due: Rspeedy

fix: merge different chunk groups for same output filename (#371)
  .changeset/twenty-cougars-fall.md
  packages/webpack/react-webpack-plugin/test/cases/code-splitting/async-chunk-groups/foo.js
  packages/webpack/react-webpack-plugin/test/cases/code-splitting/async-chunk-groups/index.jsx
  packages/webpack/react-webpack-plugin/test/cases/code-splitting/async-chunk-groups/rspack.config.js
  packages/webpack/react-webpack-plugin/test/cases/code-splitting/async-chunk-groups/test.config.cjs
  packages/webpack/template-webpack-plugin/src/LynxTemplatePlugin.ts
Due: Webpack

Path conditions:
  React: any of: packages/react/**
  Rspeedy: any of: packages/rspeedy/**
  Webpack: any of: packages/webpack/**
