Repository weoil/lynx-stack: changes, and which Codecov flags are due for each by the changed paths.
All: React, Rspeedy, Webpack

fix(testing-library): correct link in tsdoc (#623)
  .changeset/hip-seals-read.md
  packages/testing-library/test-environment/src/lynx/ElementPAPI.ts
Due: none

feat: support thread strategy all on ui (#625)
  .changeset/giant-seas-leave.md
  .changeset/slow-tools-ring.md
  .github/workflows/test.yml
  packages/web-platform/offscreen-document/src/webworker/OffscreenNode.ts
  packages/web-platform/web-core/package.json
  packages/web-platform/web-core/src/apis/LynxView.ts
  packages/web-platform/web-core/src/apis/createLynxView.ts
  packages/web-platform/web-core/src/uiThread/bootWorkers.ts
  packages/web-platform/web-core/src/uiThread/createRenderAllOnUI.ts
  packages/web-platform/web-core/src/uiThread/createRenderMultiThread.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/createUpdateData.ts
  packages/web-platform/web-core/src/uiThread/startBackground.ts
  packages/web-platform/web-core/src/uiThread/startUIThread.ts
  packages/web-platform/web-mainthread-apis/src/MainThreadRuntime.ts
  packages/web-platform/web-mainthread-apis/src/loadMainThread.ts
  packages/web-platform/web-tests/playwright.config.ts
  packages/web-platform/web-tests/rspack.config.js
  packages/web-platform/web-tests/shell-project/index.ts
  packages/web-platform/web-tests/shell-project/web-core.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/web-core.test.ts
  packages/web-platform/web-worker-rpc/src/Rpc.ts
  packages/web-platform/web-worker-runtime/src/mainThread/startMainThread.ts
  pnpm-lock.yaml
Due: none

fix(web): the scroll-x field of scroll-view needs to be handled corre… (#635)
  .changeset/soft-baths-scream.md
  packages/web-platform/web-elements/src/ScrollView/ScrollAttributes.ts
Due: none

fix(web): x-image border-radius setting has no effect. (#638)
  .changeset/busy-zebras-cover.md
  packages/web-platform/web-elements/src/XImage/x-image.css
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-image/basic-inherit/index-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-image/basic-inherit/index-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-image/basic-inherit/index-webkit-linux.png
  packages/web-platform/web-tests/tests/web-elements/x-image/basic-inherit.html
Due: none

fix(react/runtime): revert #239 'batch multiple patches for main thread communication' (#637)
  .changeset/silly-rocks-guess.md
  packages/react/runtime/__test__/lifecycle.test.jsx
  packages/react/runtime/__test__/lynx/timing.test.jsx
  packages/react/runtime/__test__/snapshot/gesture.test.jsx
  packages/react/runtime/__test__/snapshot/ref.test.jsx
  packages/react/runtime/__test__/snapshot/workletEvent.test.jsx
  packages/react/runtime/__test__/snapshot/workletRef.test.jsx
  packages/react/runtime/__test__/worklet/workletRef.test.jsx
  packages/react/runtime/src/lifecycle/destroy.ts
  packages/react/runtime/src/lifecycle/patch/commit.ts
  packages/react/runtime/src/lifecycle/reload.ts
  packages/react/runtime/src/lifecycle/render.ts
  packages/react/runtime/src/lynx-api.ts
  packages/react/runtime/src/lynx/tt.ts
  packages/react/testing-library/src/__tests__/worklet.test.jsx
  packages/react/testing-library/src/pure.jsx
  packages/react/testing-library/src/vitest-global-setup.js
Due: React

fix(react/runtime): un-revert #239 'batch multiple patches for main thread communication' (#640)
  .changeset/silly-rocks-guess.md
  packages/react/runtime/__test__/lifecycle.test.jsx
  packages/react/runtime/__test__/lynx/timing.test.jsx
  packages/react/runtime/__test__/snapshot/gesture.test.jsx
  packages/react/runtime/__test__/snapshot/ref.test.jsx
  packages/react/runtime/__test__/snapshot/workletEvent.test.jsx
  packages/react/runtime/__test__/snapshot/workletRef.test.jsx
  packages/react/runtime/__test__/worklet/workletRef.test.jsx
  packages/react/runtime/src/lifecycle/destroy.ts
  packages/react/runtime/src/lifecycle/patch/commit.ts
  packages/react/runtime/src/lifecycle/reload.ts
  packages/react/runtime/src/lifecycle/render.ts
  packages/react/runtime/src/lynx-api.ts
  packages/react/runtime/src/lynx/tt.ts
  packages/react/testing-library/src/__tests__/worklet.test.jsx
  packages/react/testing-library/src/pure.jsx
  packages/react/testing-library/src/vitest-global-setup.js
Due: React

feat: support touch events for MTS (#641)
  .changeset/brave-ants-report.md
  .changeset/empty-worms-buy.md
  .changeset/loud-mangos-enjoy.md
  .cspell/lynx.txt
  packages/web-platform/offscreen-document/src/main/initOffscreenDocument.ts
  packages/web-platform/web-constants/src/types/Cloneable.ts
  packages/web-platform/web-constants/src/types/PageConfig.ts
  packages/web-platform/web-core/src/apis/createLynxView.ts
  packages/web-platform/web-mainthread-apis/src/MainThreadRuntime.ts
  packages/web-platform/web-mainthread-apis/src/utils/createCrossThreadEvent.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/api-SystemInfo-height-width/index.jsx
  packages/web-platform/web-tests/tests/react/basic-mts-bindtouchstart/index.jsx
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeApp.ts
Due: none

chore: update homepage (#645)
  .changeset/shaky-months-count.md
  .dprint.jsonc
  packages/web-platform/web-explorer/preinstalled/homepage.json
Due: none

fix: In React19, setter and getter functions are treated as properties (#639)
  .changeset/easy-regions-say.md
  .changeset/five-frogs-report.md
  packages/web-platform/web-elements/src/XSwiper/XSwiper.ts
  packages/web-platform/web-elements/src/XSwiper/XSwiperAutoScroll.ts
  packages/web-platform/web-elements/src/XSwiper/XSwiperCircular.ts
  packages/web-platform/web-elements/src/XSwiper/XSwiperEvents.ts
  packages/web-platform/web-elements/src/XSwiper/XSwiperIndicator.ts
  packages/web-platform/web-elements/src/XSwiper/x-swiper.css
Due: none

feat(web): supports rsbuild plugin for Web projects in Lynx Web Platform (#606)
  .changeset/modern-peaches-marry.md
  .github/workflows/test.yml
  .gitignore
  packages/web-platform/web-explorer/package.json
  packages/web-platform/web-explorer/rsbuild.config.ts
  packages/web-platform/web-rsbuild-plugin/README.md
  packages/web-platform/web-rsbuild-plugin/api-extractor.json
  packages/web-platform/web-rsbuild-plugin/package.json
  packages/web-platform/web-rsbuild-plugin/rslib.config.ts
  packages/web-platform/web-rsbuild-plugin/src/index.ts
  packages/web-platform/web-rsbuild-plugin/src/pluginWebPlatform.ts
  packages/web-platform/web-rsbuild-plugin/tests/__snapshots__/config.test.ts.snap
  packages/web-platform/web-rsbuild-plugin/tests/config.test.ts
  packages/web-platform/web-rsbuild-plugin/tsconfig.json
  packages/web-platform/web-rsbuild-plugin/turbo.json
  packages/web-platform/web-rsbuild-plugin/vitest.config.ts
  pnpm-lock.yaml
Due: none

fix(react/runtime): revert #239 'batch multiple patches for main thread communication' (#649)
  .changeset/silly-rocks-guess.md
  .changeset/strong-rockets-itch.md
  packages/react/runtime/__test__/lifecycle.test.jsx
  packages/react/runtime/__test__/lynx/timing.test.jsx
  packages/react/runtime/__test__/snapshot/gesture.test.jsx
  packages/react/runtime/__test__/snapshot/ref.test.jsx
  packages/react/runtime/__test__/snapshot/workletEvent.test.jsx
  packages/react/runtime/__test__/snapshot/workletRef.test.jsx
  packages/react/runtime/__test__/worklet/workletRef.test.jsx
  packages/react/runtime/src/lifecycle/destroy.ts
  packages/react/runtime/src/lifecycle/patch/commit.ts
  packages/react/runtime/src/lifecycle/reload.ts
  packages/react/runtime/src/lifecycle/render.ts
  packages/react/runtime/src/lynx-api.ts
  packages/react/runtime/src/lynx/tt.ts
  packages/react/testing-library/src/__tests__/worklet.test.jsx
  packages/react/testing-library/src/pure.jsx
  packages/react/testing-library/src/vitest-global-setup.js
  packages/rspeedy/plugin-react/package.json
  packages/webpack/react-webpack-plugin/package.json
Due: React, Rspeedy, Webpack

chore: update css property map (#647)
  .changeset/clear-cobras-work.md
  packages/web-platform/web-mainthread-apis/src/elementAPI/style/cssPropertyMap.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/style/styleFunctions.ts
Due: none

fix(react/transform): "Unterminated string constant" when multi-line JSX StringLiteral (#654)
  .changeset/tangy-dancers-jam.md
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/should_excape_newline_character.js
Due: React

fix(rspeedy/react): avoid error when using special var names (#651)
  .changeset/fifty-moose-boil.md
  packages/rspeedy/plugin-react/src/entry.ts
  packages/rspeedy/plugin-react/test/basic.test.ts
  packages/rspeedy/plugin-react/test/fixtures/special-var-name/Behavior.jsx
  packages/rspeedy/plugin-react/test/fixtures/special-var-name/Card/Card.js
  packages/rspeedy/plugin-react/test/fixtures/special-var-name/Component.js
  packages/rspeedy/plugin-react/test/fixtures/special-var-name/ReactLynx/index.js
  packages/rspeedy/plugin-react/test/fixtures/special-var-name/index.jsx
Due: Rspeedy

feat(react/runtime): impl list batch render (#624)
  .changeset/calm-apples-buy.md
  packages/react/runtime/__test__/list.test.jsx
  packages/react/runtime/__test__/utils/nativeMethod.ts
  packages/react/runtime/src/hydrate.ts
  packages/react/runtime/src/list.ts
  packages/react/runtime/src/opcodes.ts
  packages/react/runtime/types/types.d.ts
Due: React

fix: resolve page crash on development mode when enabling `experimental_isLazyBundle: true` (#653)
  .changeset/better-crews-wash.md
  .changeset/short-crabs-lead.md
  .changeset/vast-trains-wave.md
  packages/rspeedy/plugin-react/src/entry.ts
  packages/rspeedy/plugin-react/test/config.test.ts
  packages/rspeedy/plugin-react/test/fixtures/standalone-lazy-bundle/index.tsx
  packages/rspeedy/plugin-react/test/lazy.test.ts
  packages/webpack/react-webpack-plugin/src/loaders/options.ts
  packages/webpack/runtime-wrapper-webpack-plugin/etc/runtime-wrapper-webpack-plugin.api.md
  packages/webpack/runtime-wrapper-webpack-plugin/src/RuntimeWrapperWebpackPlugin.ts
Due: Rspeedy, Webpack

fix: fork @vant/touch-emulator and make it work with shadowroot (#662)
  .changeset/eight-swans-mix.md
  packages/web-platform/web-explorer/index.html
  packages/web-platform/web-explorer/preinstalled/vant-touch.js
Due: none

fix(web): loading errors caused by script import order (#665)
  .changeset/fine-ants-rush.md
  packages/web-platform/web-explorer/index.html
Due: none

chore: update changeset (#663)
  .changeset/calm-apples-buy.md
Due: none

fix(timing): Fix Compatibility Issue in _onPipelineStart (#660)
  .changeset/tall-spiders-punch.md
  packages/react/runtime/__test__/lynx/timing.test.jsx
  packages/react/runtime/__test__/utils/globals.js
  packages/react/runtime/src/lynx/performance.ts
  packages/react/runtime/types/types.d.ts
Due: React

feat(react/transform): auto import lazy runtime when using `<component>` (#666)
  .changeset/lemon-bars-walk.md
  packages/react/runtime/lazy/import.js
  packages/react/runtime/lepus/index.js
  packages/react/runtime/lepus/jsx-dev-runtime/index.js
  packages/react/transform/src/swc_plugin_compat/mod.rs
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_compat/mod.rs/should_add_component_is_import.js
  packages/webpack/react-webpack-plugin/test/cases/basic/lazy-imports/index.jsx
  packages/webpack/react-webpack-plugin/test/cases/basic/lazy-imports/rspack.config.js
  packages/webpack/react-webpack-plugin/test/cases/basic/lazy-imports/test.config.cjs
  packages/webpack/react-webpack-plugin/test/cases/compat/component-is/index.jsx
  packages/webpack/react-webpack-plugin/test/cases/compat/component-is/rspack.config.js
  packages/webpack/react-webpack-plugin/test/cases/compat/component-is/test.config.cjs
Due: React, Webpack

feat(web): add nativeModules config to bundle it into worker (#668)
  .changeset/deep-heads-talk.md
  .changeset/hot-adults-wear.md
  .changeset/thick-pots-clap.md
  packages/web-platform/tsconfig.json
  packages/web-platform/web-explorer/index.native-modules.ts
  packages/web-platform/web-explorer/index.ts
  packages/web-platform/web-explorer/rsbuild.config.ts
  packages/web-platform/web-rsbuild-plugin/README.md
  packages/web-platform/web-rsbuild-plugin/package.json
  packages/web-platform/web-rsbuild-plugin/src/loaders/native-modules.ts
  packages/web-platform/web-rsbuild-plugin/src/pluginWebPlatform.ts
  packages/web-platform/web-rsbuild-plugin/tests/bundle.test.ts
  packages/web-platform/web-rsbuild-plugin/tests/fixtures/index.native-modules.ts
  packages/web-platform/web-rsbuild-plugin/tests/fixtures/index.ts
  packages/web-platform/web-rsbuild-plugin/tests/tsconfig.json
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeModules.ts
  pnpm-lock.yaml
Due: none

feat(react/transform): auto import lazy runtime when using `import()` (#667)
  .changeset/hip-toes-admire.md
  packages/react/runtime/lazy/import.js
  packages/react/transform/__test__/fixture.spec.js
  packages/react/transform/src/swc_plugin_dynamic_import/mod.rs
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_dynamic_import/mod.rs/should_not_import_lazy.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_dynamic_import/mod.rs/should_transform_import_call.js
  packages/webpack/react-webpack-plugin/test/cases/code-splitting/lazy-imports/index.jsx
  packages/webpack/react-webpack-plugin/test/cases/code-splitting/lazy-imports/rspack.config.js
  packages/webpack/react-webpack-plugin/test/cases/code-splitting/lazy-imports/test.config.cjs
Due: React, Webpack

chore: cherry-pick release/react-0-107-x (#678)
  .changeset/tall-spiders-punch.md
  .github/workflows/deploy-main.yml
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: React

fix(deps): bump swc_core v22.5.3 (#681)
  Cargo.lock
  packages/react/transform/Cargo.toml
  packages/react/transform/src/bundle.rs
  packages/react/transform/src/esbuild.rs
  packages/react/transform/src/lib.rs
Due: React

chore: avoid installing `@lhci/cli` (#684)
  packages/web-platform/web-tests/package.json
  pnpm-lock.yaml
Due: none

refactor(rspeedy/cli): merge duplicated code (#690)
  .changeset/lovely-pots-tap.md
  packages/rspeedy/core/src/cli/build.ts
  packages/rspeedy/core/src/cli/dev.ts
  packages/rspeedy/core/src/cli/init.ts
  packages/rspeedy/core/src/cli/inspect.ts
  packages/rspeedy/core/src/cli/preview.ts
Due: Rspeedy

feat(rspeedy/core): add `performance.profile` (#691)
  .changeset/itchy-islands-float.md
  .dprint.jsonc
  packages/rspeedy/core/CHANGELOG.md
  packages/rspeedy/core/etc/rspeedy.api.md
  packages/rspeedy/core/src/config/performance/index.ts
  packages/rspeedy/core/src/config/rsbuild/index.ts
  packages/rspeedy/core/src/plugins/stats.plugin.ts
  packages/rspeedy/core/test/config/performance.test-d.ts
  packages/rspeedy/core/test/config/rsbuild.test.ts
  packages/rspeedy/core/test/config/validate.test.ts
  packages/rspeedy/core/test/plugins/stats.plugin.test.ts
Due: Rspeedy

feat(rspeedy/core): enable native Rsdoctor plugin by default (#688)
  .changeset/three-baboons-hunt.md
  packages/rspeedy/core/src/config/defaults.ts
  packages/rspeedy/core/test/config/tools/tools.test-d.ts
  packages/rspeedy/core/test/plugins/output.plugin.test.ts
  packages/rspeedy/core/test/plugins/rsdoctor.plugin.test.ts
Due: Rspeedy

fix(rspeedy/react): should alias `experimental/lazy/import` (#682)
  .changeset/eight-geckos-tease.md
  packages/rspeedy/plugin-react-alias/src/index.ts
  packages/rspeedy/plugin-react-alias/test/index.test.ts
Due: Rspeedy

refactor(react/transform): MTS `js_fns_to_extract` to make props keys and values accessible (#672)
  packages/react/transform/src/swc_plugin_worklet/extract_ident.rs
  packages/react/transform/src/swc_plugin_worklet/gen_stmt.rs
Due: React

feat(webpack): add StartupChunkDependenciesRuntimeModule to fix chunk splitting (#658)
  .changeset/flat-hats-flow.md
  packages/webpack/chunk-loading-webpack-plugin/src/ChunkLoadingWebpackPlugin.ts
  packages/webpack/chunk-loading-webpack-plugin/src/StartupChunkDependenciesPlugin.ts
  packages/webpack/chunk-loading-webpack-plugin/src/StartupChunkDependenciesRuntimeModule.ts
  packages/webpack/chunk-loading-webpack-plugin/test/cases/chunk-loading/development/index.js
Due: Webpack

refactor(test-environment): fix publint error (#703)
  .changeset/young-seals-train.md
  packages/testing-library/test-environment/package.json
  packages/testing-library/test-environment/rslib.config.ts
  packages/testing-library/test-environment/src/index.ts
  packages/testing-library/test-environment/src/lynx/GlobalThis.ts
  packages/testing-library/test-environment/turbo.json
  pnpm-lock.yaml
Due: none

Revert "feat(webpack): add StartupChunkDependenciesRuntimeModule to fix chunk splitting" (#705)
  .changeset/flat-hats-flow.md
  packages/webpack/chunk-loading-webpack-plugin/src/ChunkLoadingWebpackPlugin.ts
  packages/webpack/chunk-loading-webpack-plugin/src/StartupChunkDependenciesPlugin.ts
  packages/webpack/chunk-loading-webpack-plugin/src/StartupChunkDependenciesRuntimeModule.ts
  packages/webpack/chunk-loading-webpack-plugin/test/cases/chunk-loading/development/index.js
Due: Webpack

feat(web): support for using lynx.queueMicrotask. (#702)
  .changeset/cuddly-beans-enter.md
  cspell.jsonc
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/api-queueMicrotask/index.jsx
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createBackgroundLynx.ts
Due: none

feat(testing-library): renaming for better docs (#704)
  .changeset/fluffy-insects-eat.md
  .changeset/young-seals-train.md
  packages/react/runtime/src/lynx.ts
  packages/react/runtime/src/lynx/env.ts
  packages/react/testing-library/README.md
  packages/react/testing-library/api-extractor.json
  packages/react/testing-library/etc/react-lynx-testing-library.api.md
  packages/react/testing-library/package.json
  packages/react/testing-library/src/__tests__/end-to-end.test.jsx
  packages/react/testing-library/src/__tests__/rerender.test.jsx
  packages/react/testing-library/src/env/vitest.ts
  packages/react/testing-library/src/fire-event.ts
  packages/react/testing-library/src/index.jsx
  packages/react/testing-library/src/pure.jsx
  packages/react/testing-library/src/vitest-global-setup.js
  packages/react/testing-library/turbo.json
  packages/react/testing-library/types/entry.d.ts
  packages/react/testing-library/types/index.d.ts
  packages/react/turbo.json
  packages/testing-library/README.md
  packages/testing-library/testing-environment/CHANGELOG.md
  packages/testing-library/testing-environment/README.md
  packages/testing-library/testing-environment/api-extractor.json
  packages/testing-library/testing-environment/etc/test-environment.api.md
  packages/testing-library/testing-environment/package.json
  packages/testing-library/testing-environment/rslib.config.ts
  packages/testing-library/testing-environment/src/__tests__/basic.test.js
  packages/testing-library/testing-environment/src/__tests__/to-have-text-content.test.js
  packages/testing-library/testing-environment/src/env/vitest/index.ts
  packages/testing-library/testing-environment/src/index.ts
  packages/testing-library/testing-environment/src/lynx/ElementPAPI.ts
  packages/testing-library/testing-environment/src/lynx/GlobalThis.ts
  packages/testing-library/testing-environment/src/util.ts
  packages/testing-library/testing-environment/tsconfig.json
  packages/testing-library/testing-environment/turbo.json
  packages/testing-library/testing-environment/vitest.config.mts
  pnpm-lock.yaml
Due: React

feat(background-only): add source and integrate into monorepo (#711)
  packages/background-only/README.md
  packages/background-only/empty.js
  packages/background-only/error.js
  packages/background-only/index.d.ts
  packages/background-only/package.json
  packages/background-only/tsconfig.json
  pnpm-workspace.yaml
  tsconfig.json
Due: none

chore(renovate): pin github-action digest (#717)
  .github/renovate.json5
Due: none

chore(rspeedy/react): use `background-only` from workspace (#721)
  packages/rspeedy/plugin-react/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: Rspeedy

Path conditions:
  React: any of: packages/react/**
  Rspeedy: any of: packages/rspeedy/**
  Webpack: any of: packages/webpack/**
