Repository weoil/lynx-stack: changes, and which Codecov flags are due for each by the changed paths.
All: React, Rspeedy, Webpack

ci: add PR id and merge-base to restore-keys (#552)
  .github/workflows/deploy-main.yml
  .github/workflows/test.yml
  .github/workflows/workflow-build.yml
  .github/workflows/workflow-test.yml
Due: none

fix: delay 500ms to send the `webExplorerReady` (#566)
  .changeset/angry-buckets-chew.md
  packages/web-platform/web-explorer/index.ts
Due: none

ci: avoid fetch error on push event (#567)
  .github/workflows/workflow-build.yml
Due: none

fix(react/runtime): should have `lynx.loadLazyBundle` (#568)
  .changeset/afraid-rivers-float.md
  packages/react/runtime/src/index.ts
  packages/webpack/react-webpack-plugin/test/cases/code-splitting/load-lazy-bundle/foo.js
  packages/webpack/react-webpack-plugin/test/cases/code-splitting/load-lazy-bundle/index.jsx
  packages/webpack/react-webpack-plugin/test/cases/code-splitting/load-lazy-bundle/rspack.config.js
  packages/webpack/react-webpack-plugin/test/cases/code-splitting/load-lazy-bundle/test.config.cjs
Due: React, Webpack

ci: fix code scanning alerts by zizmor (#565)
  .github/workflows/pull-request-content-check.yml
  .github/workflows/test.yml
Due: none

feat(web): fully support MTS (#569)
  .changeset/bright-forks-try.md
  packages/web-platform/web-constants/src/constants.ts
  packages/web-platform/web-constants/src/endpoints.ts
  packages/web-platform/web-constants/src/types/LynxContextEventTarget.ts
  packages/web-platform/web-mainthread-apis/src/MainThreadLynx.ts
  packages/web-platform/web-mainthread-apis/src/MainThreadRuntime.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/basic-mts-mainthread-ref/index.jsx
  packages/web-platform/web-tests/tests/react/basic-mts-run-on-background/index.jsx
  packages/web-platform/web-tests/tests/react/basic-mts-run-on-main-thread/index.jsx
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createBackgroundLynx.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeApp.ts
  packages/web-platform/web-worker-runtime/src/common/LynxCrossThreadContext.ts
  packages/web-platform/web-worker-runtime/src/mainThread/startMainThread.ts
Due: none

fix: refactor foldview slot offset logic (#575)
  .changeset/polite-memes-spend.md
  packages/web-platform/web-elements/src/XFoldViewNg/XFoldviewHeaderNg.ts
  packages/web-platform/web-elements/src/XFoldViewNg/XFoldviewHeaderNgFeatures.ts
  packages/web-platform/web-elements/src/XFoldViewNg/XFoldviewNg.ts
  packages/web-platform/web-elements/src/XFoldViewNg/XFoldviewSlotNg.ts
  packages/web-platform/web-elements/src/XFoldViewNg/XFoldviewSlotNgTouchEventsHandler.ts
  packages/web-platform/web-elements/src/XFoldViewNg/XFoldviewToolbarNg.ts
Due: none

fix: create a new lynx-view for lynxjs.org (#578)
  .changeset/angry-buckets-chew.md
  packages/web-platform/web-explorer/index.ts
Due: none

fix: position:fixed not work in scroll-view (#580)
  .changeset/eager-wasps-bet.md
  packages/web-platform/web-elements/src/ScrollView/scroll-view.css
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/scroll-view/basic-element-scroll-view-fixed/initial-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/scroll-view/basic-element-scroll-view-fixed/initial-firefox-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/scroll-view/basic-element-scroll-view-fixed/initial-webkit-linux.png
  packages/web-platform/web-tests/tests/react/basic-element-scroll-view-fixed/index.jsx
Due: none

fix(web): crash on removing a id attribute (#582)
  .changeset/wide-towns-call.md
  packages/web-platform/web-mainthread-apis/src/elementAPI/attributeAndProperty/attributeAndPropertyFunctions.ts
  packages/web-platform/web-tests/tests/main-thread-apis.test.ts
Due: none

ci: update workflow to add upstream remote for fetching branches (#577)
  .github/workflows/workflow-build.yml
Due: none

chore: update changeset (#585)
  .changeset/bright-forks-try.md
  .changeset/lucky-laws-wink.md
  .changeset/thin-bags-wash.md
Due: none

ci: update fetch command in workflow to use upstream references (#584)
  .github/workflows/workflow-build.yml
Due: none

fix(web): add mode: no-cors of fetch in x-audio-tt (#586)
  .changeset/pretty-coats-bet.md
  packages/web-platform/web-elements/src/XAudioTT/XAudioTT.ts
Due: none

feat: allow user to implement custom template load function (#587)
  .changeset/small-carpets-reply.md
  packages/web-platform/web-core/src/apis/LynxView.ts
  packages/web-platform/web-core/src/index.ts
  packages/web-platform/web-core/src/uiThread/startUIThread.ts
  packages/web-platform/web-core/src/utils/loadTemplate.ts
  packages/web-platform/web-tests/shell-project/index.ts
  packages/web-platform/web-tests/tests/react.spec.ts
Due: none

refactor: improve compatibility for text linear-gradient color on chrome 108 (#590)
  .changeset/odd-mirrors-check.md
  packages/web-platform/web-core/package.json
  packages/web-platform/web-elements/src/XText/XText.ts
  packages/web-platform/web-elements/src/XText/x-text.css
  packages/web-platform/web-style-transformer/src/transformLynxStyles.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/text/linear-gradient-color/index-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/text/linear-gradient-color/index-firefox-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/text/linear-gradient-color/index-webkit-linux.png
  packages/web-platform/web-tests/tests/react/api-SelectorQuery/mini-result-cell/index.jsx
  packages/web-platform/web-tests/tests/react/basic-color-not-inherit/index.jsx
  packages/web-platform/web-tests/tests/react/basic-element-x-blur-view-blur-radius/index.css
  packages/web-platform/web-tests/tests/react/basic-element-x-blur-view-blur-radius/index.jsx
Due: none

chore: code clean (#591)
  .changeset/large-worms-draw.md
  packages/web-platform/web-elements/src/ScrollView/ScrollView.ts
  packages/web-platform/web-elements/src/XText/XText.ts
  packages/web-platform/web-elements/src/XView/XView.ts
  packages/web-platform/web-explorer/index.ts
Due: none

Revert "fix(web): add mode: no-cors of fetch in x-audio-tt" (#593)
  .changeset/pretty-coats-bet.md
  packages/web-platform/web-elements/src/XAudioTT/XAudioTT.ts
Due: none

feat(web): x-list supports need-visible-item-info (#595)
  .changeset/yummy-trains-sort.md
  packages/web-platform/web-elements/src/XList/XListEvents.ts
  packages/web-platform/web-tests/tests/web-elements.spec.ts
  packages/web-platform/web-tests/tests/web-elements/x-list/need-visible-item-info.html
Due: none

fix: allow lynxjs.org to access native modules (#599)
  .changeset/lucky-eyes-sing.md
  packages/web-platform/web-explorer/index.ts
Due: none

chore(web): x-list-waterfall-1000 flaky (#598)
  packages/web-platform/web-tests/tests/performance.test.ts
Due: none

fix(web): remove requireModule, requireModuleAsync of mts (#537)
  .changeset/twenty-singers-talk.md
  packages/web-platform/web-mainthread-apis/src/MainThreadLynx.ts
  packages/web-platform/web-mainthread-apis/src/MainThreadRuntime.ts
  packages/web-platform/web-tests/tests/web-core.test.ts
Due: none

ci(web): introduce lighthouse ci (#596)
  .github/workflows/test.yml
  .github/workflows/workflow-test.yml
  .gitignore
  cspell.jsonc
  packages/web-platform/web-tests/lighthouserc.js
  packages/web-platform/web-tests/package.json
  packages/web-platform/web-tests/shell-project/web-elements.ts
  packages/web-platform/web-tests/tests/lighthouse.cases.js
  packages/web-platform/web-tests/tests/web-elements/performance/raw-text-large.html
  packages/web-platform/web-tests/tests/web-elements/performance/x-text-large.html
  pnpm-lock.yaml
Due: none

perf: late evaluate document.font.ready (#604)
  .changeset/loose-moments-itch.md
  packages/web-platform/web-elements/src/XText/XTextTruncation.ts
  packages/web-platform/web-tests/lighthouserc.js
  packages/web-platform/web-tests/tests/lighthouse.cases.js
  packages/web-platform/web-tests/tests/web-elements/performance/x-text-with-font.html
Due: none

perf: improve raw-text performance (#601)
  .changeset/shaky-games-cough.md
  packages/web-platform/web-elements/src/XText/RawText.ts
  packages/web-platform/web-tests/tests/lighthouse.cases.js
Due: none

fix(web): `:root` not work on web platform (#607)
  .changeset/light-facts-sniff.md
  packages/web-platform/web-mainthread-apis/src/MainThreadRuntime.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/basic-style-root-selector/index.css
  packages/web-platform/web-tests/tests/react/basic-style-root-selector/index.jsx
  packages/webpack/web-webpack-plugin/src/style/genStyleInfo.ts
Due: Webpack

refactor: adopt background-only npm package (#602)
  .changeset/rotten-walls-hear.md
  packages/rspeedy/plugin-react-alias/etc/react-alias-rsbuild-plugin.api.md
  packages/rspeedy/plugin-react-alias/src/index.ts
  packages/rspeedy/plugin-react/package.json
  packages/rspeedy/plugin-react/src/background-only/empty.ts
  packages/rspeedy/plugin-react/src/background-only/error.ts
  packages/rspeedy/plugin-react/src/backgroundOnly.ts
  pnpm-lock.yaml
Due: Rspeedy

fix(web): css selector not work for selectors with combinator and pseudo-class (#608)
  .changeset/rude-memes-shave.md
  packages/web-platform/web-constants/src/types/StyleInfo.ts
  packages/web-platform/web-mainthread-apis/src/utils/processStyleInfo.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/basic-style-combinator/index.css
  packages/web-platform/web-tests/tests/react/basic-style-combinator/index.jsx
  packages/webpack/web-webpack-plugin/src/style/genStyleInfo.ts
  packages/webpack/web-webpack-plugin/src/type/StyleInfo.ts
Due: Webpack

fix(css-extract): CSS import order when enableCSSSelector is false (#609)
  .changeset/open-taxis-hear.md
  packages/webpack/css-extract-webpack-plugin/src/CssExtractRspackPlugin.ts
  packages/webpack/template-webpack-plugin/etc/template-webpack-plugin.api.md
  packages/webpack/template-webpack-plugin/src/LynxTemplatePlugin.ts
  packages/webpack/template-webpack-plugin/src/css/cssChunksToMap.ts
  packages/webpack/template-webpack-plugin/src/css/debundle.ts
  packages/webpack/template-webpack-plugin/src/css/encode.ts
  packages/webpack/template-webpack-plugin/test/css.test.ts
Due: Webpack

fix(qrcode-plugin): QR code fails to print after initial compilation errors are fixed (#610)
  .changeset/yellow-wasps-brush.md
  packages/rspeedy/plugin-qrcode/src/index.ts
  packages/rspeedy/plugin-qrcode/test/fixtures/error/index.js
  packages/rspeedy/plugin-qrcode/test/index.test.ts
Due: Rspeedy

refactor(type): list operations (#592)
  .changeset/neat-plants-flash.md
  packages/react/runtime/src/list.ts
Due: React

feat(react): support `"jsx": "react-jsx"` (#545)
  .changeset/orange-days-chew.md
  .changeset/stupid-hounds-reflect.md
  packages/react/runtime/__test__/tsconfig.json
  packages/react/runtime/__test__/typecheck/jsx-runtime.test-d.tsx
  packages/react/runtime/jsx-dev-runtime/index.d.ts
  packages/react/runtime/jsx-runtime/index.d.ts
  packages/react/runtime/package.json
  packages/react/runtime/tsconfig.json
  packages/react/runtime/vitest.config.ts
  packages/react/types/react.d.ts
  packages/rspeedy/create-rspeedy/template-react-ts/tsconfig.json
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-ts/tsconfig.json
  vitest.config.ts
Due: React, Rspeedy

fix(react/transform): prevent merging JSX elements with dynamic key (#547)
  .changeset/violet-peas-chew.md
  packages/react/transform/src/swc_plugin_snapshot/jsx_helpers.rs
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
  packages/react/transform/src/swc_plugin_snapshot/slot_marker.rs
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/should_wrap_dynamic_key.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/slot_marker.rs/should_wrap_dynamic_part.js
Due: React

fix(testing-library): rollup dts files (#615)
  .changeset/rude-pears-open.md
  .cspell/contributors.txt
  .github/workflows/test.yml
  packages/react/package.json
  packages/react/testing-library/api-extractor.json
  packages/react/testing-library/etc/react-lynx-testing-library.api.md
  packages/react/testing-library/package.json
  packages/react/testing-library/rslib.config.ts
  packages/react/testing-library/src/entry.ts
  packages/react/testing-library/types/entry.d.ts
  packages/react/testing-library/types/index.d.ts
  packages/testing-library/test-environment/package.json
  pnpm-lock.yaml
Due: React

fix(timing): The pipeline timing is not described correctly (#438)
  .changeset/eighty-planes-decide.md
  .changeset/honest-pandas-float.md
  cspell.jsonc
  packages/react/runtime/__test__/lifecycle/reload.test.jsx
  packages/react/runtime/__test__/lynx/timing.test.jsx
  packages/react/runtime/__test__/snapshot/event.test.jsx
  packages/react/runtime/__test__/snapshot/workletRef.test.jsx
  packages/react/runtime/__test__/worklet/workletRef.test.jsx
  packages/react/runtime/src/lifecycle/patch/commit.ts
  packages/react/runtime/src/lifecycle/patch/updateMainThread.ts
  packages/react/runtime/src/lynx/calledByNative.ts
  packages/react/runtime/src/lynx/component.ts
  packages/react/runtime/src/lynx/performance.ts
  packages/react/runtime/src/lynx/tt.ts
  packages/react/runtime/types/types.d.ts
  packages/react/testing-library/src/__tests__/act.test.jsx
  packages/react/testing-library/src/__tests__/end-to-end.test.jsx
  packages/react/testing-library/src/__tests__/worklet.test.jsx
  packages/react/types/react.d.ts
  packages/rspeedy/plugin-react/package.json
  packages/webpack/react-webpack-plugin/package.json
Due: React, Rspeedy, Webpack

refactor: move mainthread impl into mainthread-api packages (#622)
  .changeset/ready-months-type.md
  packages/web-platform/web-constants/src/index.ts
  packages/web-platform/web-constants/src/utils/LynxCrossThreadContext.ts
  packages/web-platform/web-constants/src/utils/index.ts
  packages/web-platform/web-mainthread-apis/src/crossThreadHandlers/registerCallLepusMethodHandler.ts
  packages/web-platform/web-mainthread-apis/src/crossThreadHandlers/registerGetCustomSectionHandler.ts
  packages/web-platform/web-mainthread-apis/src/index.ts
  packages/web-platform/web-mainthread-apis/src/loadMainThread.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createBackgroundLynx.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeApp.ts
  packages/web-platform/web-worker-runtime/src/mainThread/startMainThread.ts
Due: none

perf(rspeedy/core): use `import()` for `validate()` (#619)
  .changeset/small-friends-grin.md
  packages/rspeedy/core/src/config/loadConfig.ts
Due: Rspeedy

refactor: isolate SystemInfo (#628)
  .changeset/cruel-hornets-burn.md
  packages/web-platform/web-constants/src/constants.ts
  packages/web-platform/web-constants/src/endpoints.ts
  packages/web-platform/web-constants/src/types/PageConfig.ts
  packages/web-platform/web-core/src/apis/createLynxView.ts
  packages/web-platform/web-core/src/uiThread/bootWorkers.ts
  packages/web-platform/web-core/src/utils/loadTemplate.ts
  packages/web-platform/web-mainthread-apis/src/MainThreadRuntime.ts
  packages/web-platform/web-mainthread-apis/src/loadMainThread.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeApp.ts
  packages/web-platform/web-worker-runtime/src/index.ts
Due: none

fix(web): scroll-view's initial-scroll-index is changed to initial-sc… (#629)
  .changeset/afraid-donuts-cut.md
  packages/web-platform/web-elements/src/ScrollView/ScrollAttributes.ts
  packages/web-platform/web-tests/tests/react/basic-element-scroll-view-scroll-to-index/index.jsx
Due: none

Path conditions:
  React: any of: packages/react/**
  Rspeedy: any of: packages/rspeedy/**
  Webpack: any of: packages/webpack/**
