Repository weoil/lynx-stack: changes, and which Codecov flags are due for each by the changed paths.
All: React, Rspeedy, Webpack

fix(webpack/react): NPE when return non-webpack chunk (#365)
  .changeset/silly-tigers-think.md
  packages/webpack/react-webpack-plugin/src/LynxProcessEvalResultRuntimeModule.ts
  packages/webpack/react-webpack-plugin/test/cases/code-splitting/eval-result/index.jsx
Due: Webpack

chore(web): add export lynx-view tests for other projects (#367)
  packages/web-platform/web-tests/package.json
  packages/web-platform/web-tests/shell-project/index.ts
  packages/web-platform/web-tests/shell-project/lynx-view.ts
Due: none

docs: Updated the documentation for server host configuration settings (#376)
  .changeset/empty-guests-care.md
  packages/rspeedy/core/src/config/server/index.ts
Due: Rspeedy

feat(web): The onNapiModulesCall function add lynxView parameter (#350)
  .changeset/sad-shirts-reply.md
  packages/web-platform/web-constants/src/types/NapiModules.ts
  packages/web-platform/web-core/src/apis/LynxView.ts
  packages/web-platform/web-tests/shell-project/web-core.ts
  packages/web-platform/web-tests/tests/web-core.test.ts
  packages/web-platform/web-worker-rpc/src/Rpc.ts
Due: none

refactor: timing system (#378)
  .changeset/chilly-beers-sin.md
  packages/web-platform/web-constants/src/endpoints.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/bootTimingSystem.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/registerDispatchLynxViewEventHandler.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/registerFlushElementTreeHandler.ts
  packages/web-platform/web-core/src/uiThread/startUIThread.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeApp.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createPerformanceApis.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createTimingSystem.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/crossThreadHandlers/createBackgroundMarkTimingInternal.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/crossThreadHandlers/registerPostTimingResultHandler.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/startBackgroundThread.ts
  packages/web-platform/web-worker-runtime/src/mainThread/crossThreadHandlers/createMainthreadMarkTimingInternal.ts
  packages/web-platform/web-worker-runtime/src/mainThread/startMainThread.ts
Due: none

fix(webpack/react): lazy bundle does not return (#380)
  .changeset/salty-breads-smash.md
  packages/webpack/react-webpack-plugin/src/ReactWebpackPlugin.ts
  packages/webpack/react-webpack-plugin/test/cases/code-splitting/amd-runtime-with-source-map/bar.js
  packages/webpack/react-webpack-plugin/test/cases/code-splitting/amd-runtime-with-source-map/baz.js
  packages/webpack/react-webpack-plugin/test/cases/code-splitting/amd-runtime-with-source-map/foo.js
  packages/webpack/react-webpack-plugin/test/cases/code-splitting/amd-runtime-with-source-map/index.jsx
  packages/webpack/react-webpack-plugin/test/cases/code-splitting/amd-runtime-with-source-map/rspack.config.js
  packages/webpack/react-webpack-plugin/test/cases/code-splitting/amd-runtime-with-source-map/test.config.cjs
Due: Webpack

fix: publicComponentEvent args order (#401)
  .changeset/two-masks-decide.md
  packages/web-platform/web-constants/src/endpoints.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/event/eventFunctions.ts
  packages/web-platform/web-tests/shell-project/mainthread-test.ts
  packages/web-platform/web-tests/tests/main-thread-apis.test.ts
Due: none

fix: list with a blank block (#379)
  .changeset/early-chefs-cheat.md
  .cspell/lynx.txt
  packages/web-platform/web-elements/src/XList/x-list.css
  packages/web-platform/web-tests/tests/web-elements.spec.ts
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/event-scrolltoupper-tolower-flow/index-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/event-scrolltoupper-tolower-flow/index-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/event-scrolltoupper-tolower-flow/index-webkit-linux.png
  packages/web-platform/web-tests/tests/web-elements/x-list/event-scrolltoupper-tolower-flow.html
Due: none

ci(web): fix flaky tests (#404)
  .changeset/nice-jokes-grow.md
  packages/web-platform/web-tests/tests/react.spec.ts
Due: none

feat: add extractStr option to pluginReactLynx (#391)
  .changeset/kind-cloths-clap.md
  packages/rspeedy/plugin-react/etc/react-rsbuild-plugin.api.md
  packages/rspeedy/plugin-react/src/entry.ts
  packages/rspeedy/plugin-react/src/pluginReactLynx.ts
  packages/webpack/react-webpack-plugin/etc/react-webpack-plugin.api.md
  packages/webpack/react-webpack-plugin/src/ReactWebpackPlugin.ts
  packages/webpack/react-webpack-plugin/src/index.ts
Due: Rspeedy, Webpack

Revert "chore(deps): update rspack monorepo to v1.3.0" (#407)
  packages/rspeedy/core/test/plugins/dev.plugin.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: Rspeedy

chore: remove wrong changeset (#409)
  .changeset/odd-icons-run.md
Due: none

feat(web): add support for defaultOverflowVisible configuration and fix scrollbar visibility (#406)
  .changeset/few-streets-tap.md
  .changeset/petite-clocks-report.md
  packages/web-platform/web-constants/src/constants.ts
  packages/web-platform/web-constants/src/types/PageConfig.ts
  packages/web-platform/web-core/src/apis/LynxView.ts
  packages/web-platform/web-core/src/apis/inShadowRootStyles.ts
  packages/web-platform/web-elements/src/common-css/linear.css
  packages/web-platform/web-mainthread-apis/src/elementAPI/elementCreating/elementCreatingFunctions.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/basic-linear-column-container-main-axis-graverty-start-end-with-direction-rtl/index/index-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/basic-linear-column-container-main-axis-graverty-start-end-with-direction-rtl/index/index-webkit-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/basic-linear-column-container-main-axis-graverty-top-bottom-with-direction-rtl/index/index-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/basic-linear-column-container-main-axis-graverty-top-bottom-with-direction-rtl/index/index-webkit-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/config-css-default-overflow-visible-unset/index/index-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/config-css-default-overflow-visible-unset/index/index-firefox-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/config-css-default-overflow-visible-unset/index/index-webkit-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/image/auto-size-with-padding/index-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/image/auto-size-with-padding/index-firefox-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/image/auto-size-with-padding/index-webkit-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/image/auto-size/index-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/image/auto-size/index-webkit-linux.png
  packages/web-platform/web-tests/tests/react/config-css-default-overflow-visible-unset/index.css
  packages/web-platform/web-tests/tests/react/config-css-default-overflow-visible-unset/index.jsx
  packages/web-platform/web-tests/tests/react/config-css-default-overflow-visible-unset/rspeedy.config.ts
Due: none

fix(react/runtime): prevent multiple firstScreen events when reloadin… (#377)
  .changeset/nasty-kids-matter.md
  packages/react/runtime/__test__/lifecycle/reload.test.jsx
  packages/react/runtime/src/lifecycle/event/jsReady.ts
  packages/react/runtime/src/lifecycle/reload.ts
  packages/react/runtime/src/lynx/calledByNative.ts
Due: React

feat: add layoutchange event support for x-view and x-text (#408)
  .changeset/curvy-wasps-count.md
  cspell.jsonc
  packages/web-platform/web-elements/src/XText/XText.ts
  packages/web-platform/web-elements/src/XView/XView.ts
  packages/web-platform/web-elements/src/common/CommonEventsAndMethods.ts
  packages/web-platform/web-tests/tests/web-elements.spec.ts
  packages/web-platform/web-tests/tests/web-elements/x-text/event-layoutchange.html
  packages/web-platform/web-tests/tests/web-elements/x-view/event-layoutchange.html
Due: none

docs: fix documents about lynx-view's properties (#412)
  .changeset/olive-corners-work.md
  packages/web-platform/web-core/src/apis/LynxView.ts
Due: none

refactor(react/runtime): move delayed events related logic to new files (#411)
  .changeset/honest-chefs-mix.md
  packages/react/runtime/__test__/snapshot/event.test.jsx
  packages/react/runtime/src/lifecycle/event/delayEvents.ts
  packages/react/runtime/src/lifecycle/event/delayLifecycleEvents.ts
  packages/react/runtime/src/lynx/tt.ts
Due: React

feat(rspeedy/core): support cli flag --base (#387)
  .changeset/modern-keys-spend.md
  packages/rspeedy/core/src/cli/commands.ts
  packages/rspeedy/core/src/cli/dev.ts
  packages/rspeedy/core/src/cli/preview.ts
  website/docs/en/guide/cli.md
  website/docs/zh/guide/cli.md
Due: Rspeedy

feat(plugin-react): disable `module.generator.json.JSONParse` option (#402)
  .changeset/violet-days-beam.md
  packages/rspeedy/plugin-react/src/generator.ts
  packages/rspeedy/plugin-react/src/pluginReactLynx.ts
  packages/rspeedy/plugin-react/test/generator.test.ts
Due: Rspeedy

feat(rspeedy/qrcode): build with Rslib (#396)
  .changeset/open-cities-know.md
  packages/rspeedy/plugin-qrcode/package.json
  packages/rspeedy/plugin-qrcode/rslib.config.ts
  pnpm-lock.yaml
Due: Rspeedy

feat(rspeedy/core)!: build with Rslib (#395)
  .changeset/every-turkeys-study.md
  packages/rspeedy/core/bin/rspeedy.js
  packages/rspeedy/core/package.json
  packages/rspeedy/core/rslib.config.ts
  packages/rspeedy/core/src/cli/start.ts
  packages/rspeedy/core/src/config/loadConfig.ts
  packages/rspeedy/core/turbo.json
  pnpm-lock.yaml
Due: Rspeedy

chore(deps): reapply "chore(deps): update rspack monorepo to v1.3.0" (#415)
  packages/rspeedy/core/test/plugins/dev.plugin.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: Rspeedy

fix(rspeedy/qrcode): add `turbo.json` (#431)
  packages/rspeedy/plugin-qrcode/turbo.json
Due: Rspeedy

fix: relative require path of WebSocketClient.js (#428)
  .changeset/bumpy-apples-stay.md
  packages/rspeedy/core/src/plugins/dev.plugin.ts
Due: Rspeedy

fix(plugin-react): `json-parse` rule order should be 'pre' (#436)
  .changeset/bitter-pumas-sort.md
  packages/rspeedy/plugin-react/src/generator.ts
Due: Rspeedy

fix: add enableCSSInvalidation for encodeCSS of css HMR (#435)
  .changeset/tender-lemons-film.md
  packages/rspeedy/plugin-react/src/css.ts
  packages/webpack/css-extract-webpack-plugin/etc/css-extract-webpack-plugin.api.md
  packages/webpack/css-extract-webpack-plugin/src/CssExtractRspackPlugin.ts
  packages/webpack/template-webpack-plugin/etc/template-webpack-plugin.api.md
  packages/webpack/template-webpack-plugin/src/LynxEncodePlugin.ts
  packages/webpack/template-webpack-plugin/src/css/encode.ts
  packages/webpack/template-webpack-plugin/src/index.ts
  packages/webpack/template-webpack-plugin/test/css.test.ts
Due: Rspeedy, Webpack

feat(web): add dispatchNapiModules of onNapiModulesCall (#414)
  .changeset/solid-otters-live.md
  packages/web-platform/web-constants/src/endpoints.ts
  packages/web-platform/web-constants/src/types/NapiModules.ts
  packages/web-platform/web-core/src/apis/LynxView.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/registerNapiModulesCallHandler.ts
  packages/web-platform/web-tests/shell-project/web-core.ts
  packages/web-platform/web-tests/tests/web-core.test.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNapiLoader.ts
Due: none

fix(rspeedy/core): `api.version` is `undefined` (#442)
  .changeset/deep-swans-melt.md
  packages/rspeedy/core/bin/rspeedy-for-dev.js
  packages/rspeedy/core/package.json
  packages/rspeedy/core/src/version.ts
Due: Rspeedy

chore(rspeedy/qrcode): bundle qrcode-terminal (#433)
  packages/rspeedy/plugin-qrcode/package.json
  patches/qrcode-terminal.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: Rspeedy

fix(rspeedy/core): chmod +x for bin (#447)
  packages/rspeedy/core/bin/rspeedy-for-dev.js
Due: Rspeedy

feat(webpack/chunk-loading)!: `chunkLoading: 'lynx'` for Rspack (#400)
  .changeset/bright-loops-walk.md
  .changeset/smooth-maps-check.md
  packages/rspeedy/core/src/plugins/chunkLoading.plugin.ts
  packages/rspeedy/core/test/plugins/__snapshots__/output.plugin.test.ts.snap
  packages/rspeedy/core/test/plugins/chunkLoading.plugin.test.ts
  packages/webpack/chunk-loading-webpack-plugin/etc/chunk-loading-webpack-plugin.api.md
  packages/webpack/chunk-loading-webpack-plugin/package.json
  packages/webpack/chunk-loading-webpack-plugin/src/ChunkLoadingRspackPlugin.ts
  packages/webpack/chunk-loading-webpack-plugin/src/ChunkLoadingWebpackPlugin.ts
  packages/webpack/chunk-loading-webpack-plugin/src/index.ts
  packages/webpack/chunk-loading-webpack-plugin/test/cases/chunk-loading/development/rspack.config.js
  packages/webpack/chunk-loading-webpack-plugin/test/cases/chunk-loading/production/rspack.config.js
  packages/webpack/chunk-loading-webpack-plugin/test/cases/chunk-loading/runtime-globals/rspack.config.js
  packages/webpack/chunk-loading-webpack-plugin/test/cases/css/development/rspack.config.js
  packages/webpack/chunk-loading-webpack-plugin/vitest.config.ts
  pnpm-lock.yaml
Due: Rspeedy, Webpack

chore: remove useless `prepublishOnly` script (#448)
  packages/rspeedy/plugin-react/package.json
Due: Rspeedy

chore(deps): bump swc_core to v18.0.0 (#449)
  .changeset/tame-moons-buy.md
  Cargo.lock
  packages/react/transform/Cargo.toml
Due: React

chore: remove unused rspack/cli (#452)
  packages/webpack/chunk-loading-webpack-plugin/package.json
  pnpm-lock.yaml
Due: Webpack

test(webpack/css-extract): enable hot tests (#451)
  packages/webpack/css-extract-webpack-plugin/package.json
  packages/webpack/css-extract-webpack-plugin/test/Hot.test.js
  packages/webpack/css-extract-webpack-plugin/test/HotSnapshot.test.ts
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/index.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/index.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/index.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/index.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/rspack.config.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/index.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/rspack.config.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/index.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/index.js
  packages/webpack/css-extract-webpack-plugin/vitest.config.ts
  pnpm-lock.yaml
Due: Webpack

feat(rspeedy/core): support cli flag --env-mode (#453)
  .changeset/sour-spies-eat.md
  packages/rspeedy/core/src/cli/build.ts
  packages/rspeedy/core/src/cli/commands.ts
  packages/rspeedy/core/src/cli/dev.ts
  packages/rspeedy/core/src/cli/inspect.ts
  packages/rspeedy/core/src/cli/preview.ts
  packages/rspeedy/core/test/cli/config.test.ts
  packages/rspeedy/core/test/cli/fixtures/project-with-env/.env.test
  website/docs/en/guide/cli.md
  website/docs/zh/guide/cli.md
Due: Rspeedy

fix(webpack/css-extract): CSS HMR not working (#456)
  .changeset/slick-wasps-raise.md
  packages/webpack/css-extract-webpack-plugin/src/CssExtractRspackPlugin.ts
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/entry.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/file.module.css
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/index.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/no-changed.css
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/rspack.config.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/test.config.cjs
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/__snapshot__/rspack/2.snap.txt
Due: Webpack

fix(react/runtime): ensure `ref` lifecycle events run after `firstScreen` (#434)
  .changeset/petite-bobcats-travel.md
  packages/react/runtime/__test__/lifecycle/reload.test.jsx
  packages/react/runtime/__test__/snapshot/ref.test.jsx
  packages/react/runtime/src/lifecycle/destroy.ts
  packages/react/runtime/src/lifecycle/event/delayLifecycleEvents.ts
  packages/react/runtime/src/lynx-api.ts
  packages/react/runtime/src/lynx/tt.ts
Due: React

feat(rspeedy/core): add `dev.hmr` and `dev.liveReload` (#458)
  .changeset/sweet-crabs-travel.md
  packages/rspeedy/core/etc/rspeedy.api.md
  packages/rspeedy/core/src/config/dev/index.ts
  packages/rspeedy/core/src/plugins/dev.plugin.ts
  packages/rspeedy/core/test/config/dev.test-d.ts
  packages/rspeedy/core/test/plugins/dev.plugin.test.ts
Due: Rspeedy

fix(rspeedy/core): take the first network found instead of the last one (#457)
  .changeset/real-hounds-tan.md
  packages/rspeedy/core/src/plugins/dev.plugin.ts
  packages/rspeedy/core/test/plugins/dev.plugin.test.ts
  packages/rspeedy/core/test/plugins/findIp.test.ts
Due: Rspeedy

Path conditions:
  React: any of: packages/react/**
  Rspeedy: any of: packages/rspeedy/**
  Webpack: any of: packages/webpack/**
